.webiny-pb-layout-block-container {
}
.webiny-pb-media-query--mobile-landscape .webiny-pb-layout-block-container {
  background-size: cover !important;
}
.webiny-pb-media-query--mobile-portrait .webiny-pb-layout-block-container {
  background-size: cover !important;
}

.webiny-pb-layout-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.webiny-pb-media-query--mobile-landscape .webiny-pb-layout-block {
  width: 100% !important;
  // flex: 0 0 auto !important; // removed because Content #2
}
.webiny-pb-media-query--mobile-portrait .webiny-pb-layout-block {
  width: 100% !important;
  // flex: 0 0 auto !important; // removed because Content #2
}

.webiny-pb-layout-grid {
  width: 100%;
  display: flex;
  flex-direction: row;

  &-cell {

    @for $current from 1 to 13 {
      &-#{$current} {
        width: percentage((1 / 12) * $current);
      }
    }

    & img {
      width: auto;
      height: auto;
    }
  }
}

.webiny-pb-media-query--desktop .webiny-pb-layout-grid {
  flex-direction: row;
  // flex: 100% 1; // removed because Content #2
}
.webiny-pb-media-query--tablet .webiny-pb-layout-grid {
  flex-direction: row;
  // flex: 100% 1; // removed because Content #2
}
.webiny-pb-media-query--mobile-landscape .webiny-pb-layout-grid {
  flex-direction: column;
  max-width: 100% !important;
  //width: 100% !important; // added for Content #6
  //width: auto !important; // set to auto for CTA #9
  flex: 0 auto !important;

  &-cell {
    flex-grow: 1;

    @for $current from 1 to 13 {
      &-#{$current} {
        width: 100%;
      }
    }

    & img {
      width: auto;
      height: auto;
    }
  }
}
.webiny-pb-media-query--mobile-portrait .webiny-pb-layout-grid {
  flex-direction: column;
  max-width: 100% !important;
  //width: 100% !important; // added for Content #6
  //width: auto !important; // set to auto for CTA #9
  flex: 0 auto !important;

  &-cell {
    flex-grow: 1;

    @for $current from 1 to 13 {
      &-#{$current} {
        width: 100%;
      }
    }

    & img {
      width: auto;
      height: auto;
    }
  }
}
