@media (min-width: 767px) {
  .master-content {
    padding: 55px 0 100px 60px;
  }
}

.dashboard-content {
  padding: 50px 50px 0;
}

.list-content {
  padding: 50px 50px 0;
}

.container-fluid {
  padding: 0;
}