// Webiny light theme
$webiny-theme-light-primary: #fa5723;
$webiny-theme-light-secondary: #00ccb0;
$webiny-theme-light-background: #f2f2f2;
$webiny-theme-light-surface: #fff;
$webiny-theme-light-on-primary: #ffffff;
$webiny-theme-light-on-secondary: #ffffff;
$webiny-theme-light-on-surface: #000000;
$webiny-theme-light-on-background: rgba(212, 212, 212, 0.5);
$webiny-theme-light-text-primary-on-background: rgba(0, 0, 0, 0.87);
$webiny-theme-light-text-secondary-on-background: rgba(0, 0, 0, 0.54);
$webiny-theme-light-text-hint-on-dark: rgba(255, 255, 255, 0.5);
$webiny-theme-light-caret-down: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");

// Webiny dark theme
$webiny-theme-dark-primary: #fa5723;
$webiny-theme-dark-secondary: #00ccb0;
$webiny-theme-dark-background: #121212;
$webiny-theme-dark-surface: #242424;
$webiny-theme-dark-on-primary: #ffffff;
$webiny-theme-dark-on-secondary: #ffffff;
$webiny-theme-dark-on-surface: #ffffff;
$webiny-theme-dark-on-background: rgba(255, 255, 255, 0.15);
$webiny-theme-dark-text-primary-on-background: rgba(255, 255, 255, 0.87);
$webiny-theme-dark-text-secondary-on-background: rgba(255, 255, 255, 0.54);
$webiny-theme-dark-text-hint-on-dark: rgba(255, 255, 255, 0.15);
$webiny-theme-dark-caret-down: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");

// Webiny font
$webiny-theme-typography-font-family: "Source Sans Pro";

// Import theme styles
@import "~theme/styles.scss";

// Import admin app styles
@import "~@webiny/app-admin/styles.scss";

// Import `RichTextEditor` styles
@import "~@webiny/app-admin/components/RichTextEditor/styles.scss";
@import "~@webiny/app-admin/components/RichTextEditor/tools/header/styles.scss";
@import "~@webiny/app-admin/components/RichTextEditor/tools/paragraph/styles.scss";
@import "~@webiny/app-admin/components/RichTextEditor/tools/textColor/styles.scss";
@import "~@webiny/app-admin/components/RichTextEditor/tools/image/styles.scss";
