// Styles for the rich text editor that's used with Form Builder.
@import "@webiny/react-rich-text-renderer/styles.scss";

// Fonts used with the default theme.
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700|Lato:400,700");
