.btnGroup {
  button, a {
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-right: 0;
    }

    /*&:first-child:not(:last-child):hover {
      box-shadow: none;
    }*/

    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: 0px;
    }

    /*&:last-child:not(:first-child):hover {
      box-shadow: none;
    }*/

    &:not(:last-child):not(:first-child) {
      border-radius: 0;
      margin: 0;
    }
  }

  :global(button.Button_btn) {
    &:hover, &:active, &:focus, &:focus:active {
      box-shadow: none;
    }
  }
}

@media (max-width: 768px) {
  .btnGroup {
    display: flex;

    :global(button.Button_btn) {
      flex-grow: 1;
    }

    button, a {
      &:not(:last-child):not(:first-child) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}