.idea
.webpack
.webiny
.artifacts
.env*
.npmrc
htpasswd
lerna-debug.log
npm-debug.log
node_modules
.DS_Store
coverage
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
lib/
api/**/build/
apps/**/build/
.files/
.changelog
.verdaccio
.history
*.tsbuildinfo
cypress.json
cypress.config.ts
cypress/screenshots/*
cypress-tests/cypress/screenshots/*
.pulumi
Pulumi.*
!Pulumi.yaml
!Pulumi.ts
pbInstalation.zip
globalConfig.json
.graphqlconfig
schema.graphql
.tmp/
.nx/*
# yarn2 files
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
lerna.json
.stormTests
*storybook.log
.normalizedFigmaExport.json

# TODO remove after moving traffic splitting config to WPC
gateway.*.json

packages/tasks/tpl/*
