.idea
.webpack
.webiny
.serverless
.env*
.npmrc
htpasswd
lerna-debug.log
npm-debug.log
node_modules
.DS_Store
coverage
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
lib/
build/
.files/
.changelog
.verdaccio
.history
*.tsbuildinfo
.cloudfnsrc.js
.cloudfns/
yarn.lock
