.nx/
.webiny/
.verdaccio/
docs/
**/build/
**/dist/
**/.out/
**/.pulumi/
.webiny/**
packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
packages/project-aws/_templates/appTemplates/
lerna.json
coverage/**
packages/cli/files/**/*.json
packages/create-webiny-project/utils/binaries/**
.github/workflows/**/*.yml
./nextjs/
packages/admin-ui/storybook-static/**
