.nx/
.webiny/
.verdaccio/
**/build/
**/dist/
**/.out/
**/.pulumi/
.webiny/**
packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
lerna.json
coverage/**
packages/cli/files/**/*.json
packages/create-webiny-project/utils/binaries/**
.github/workflows/**/*.yml
nextjs/
