.navigation {
  display: flex;
  border-bottom: 1px solid #eee;
  text-align: center;
  @media (max-width: 768px) {
    display: block;
    text-align: left;
  }
  li {
    list-style: none;
    position: relative;
    padding: 10px;
    letter-spacing: -0.1px;
    width: 100%;
    label {
      font-weight: 300;
      font-size: 22px;
      line-height: 25px;
      color: #FA5A28;
      display: inline-block;
      vertical-align: text-bottom;
    }
    div {
      margin-right: 6px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fa5723;
      width: 25px;
      height: 25px;
      position: relative;
      text-align: center;
      span {
        color: white;
        font-weight: 500;
        font-size: 17px;
        position: absolute;
        left: 0;
        right: 0;
        line-height: 25px;
      }
    }
    &.completed {
      label {
        color: #00ccb0;
        font-weight: 500;
      }
      div {
        background-color: #00ccb0;
      }
    }
    &.current {
      label {
        font-weight: 500;
      }
    }
  }
}

.content {
  min-height: 200px;
}

.actions {
}