.translatedTextPercentages {
  margin-bottom: 24px;
}

.translatedTextPercentagesLocaleStats {
  margin-bottom: 10px;
  strong {
    margin-bottom: 5px;
    display: block;
  }
  progress-bar {
    display: block;
    background-color: #d8d8d8;
    position: relative;
    text-align: center;
    font-size: 12px;
    padding: 1px;
    height: 24px;
    bar {
      height: 24px;
      background-color: #3fbfb0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 4px;
    }
    label {
      height: 24px;
      display: block;
      position: absolute;
      width: 100%;
      top: 4px;
      left: 0;
      color: white;
    }
  }
}