.trayBin {
	text-align: center;
}

.trayBinEmpty {

}

.mainText {
	color: #dadada;
	font-size: 17px;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.mainText:before {
	content: "\E83C";
	display: block;
	margin-bottom: 10px;
	color: #eee;
	font-family: 'fontello';
	font-size: 71px;
	font-style: normal;
	font-weight: normal;
	line-height: 1em;
}

.container {
	position: relative;
	min-height: 285px;
	margin: 0 0 20px 0;
	padding: 18px 8px;
	background-color: #fbfbfb;
	border: 2px dashed #cdcdcd;
	border-radius: 3px;
	overflow: hidden;
}

.trayBinEmpty .container {
	padding: 101px 8px 18px 8px;
}

.file {
	position: relative;
	display: inline-block;
	float: left;
	padding: 14px;
	margin: 10px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	text-align: left;
	background: #fff;
}

.filePreview {
	border: 0;
	vertical-align: middle;
}

.fileEdit, .fileRemove {
	position: absolute;
	top: 20px;
	right: 45px;
	display: block;
	width: 23px;
	height: 23px;
	padding: 4px;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
}

.fileRemove {
	right: 20px;
}

.fileEdit:before, .fileRemove:before {
	content: "\E83B";
	display: inline-block;
	vertical-align: top;
	color: #6f6f6f;
	font-size: 12px;
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	line-height: 1.4em;
}

.fileRemove:before {
	color: #fa541d;
	content: "\E82B";
}

.fileName {
	font-family: "Source Sans Pro";
	margin-bottom: 3px;
	display: block;
	margin-top: 5px;
	color: #313131;
	font-size: 15px;
	width: 133px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fileSize {
	font-family: "Source Sans Pro";
	display: block;
	color: #868695;
	font-size: 14px;
	text-transform: uppercase;
}

.uploadAction {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}