@use "@material/top-app-bar/_mixins.scss" as topAppBar;
@use "@material/elevation/mixins" as elevation;
@use "@material/button/mixins" as button;
@use "@material/icon-button/mixins" as iconButton;
@use "@material/drawer/mixins" as drawer;
@use "@material/tab-bar/mixins" as tabBar;
@use "@material/tab/mixins" as tab;
@use "@material/tab-indicator/mixins" as tabIndicator;
@use "@material/list/mixins" as list;
@use "@material/switch/mixins" as switch;
@use "@material/textfield/mixins" as textfield;
@use "@material/select/mixins" as select;
@use "@material/checkbox/mixins" as checkbox;
@use "@material/radio/mixins" as radio;
@use "@material/snackbar/mixins" as snackbar;

// top app bar should use theme-surface as the fill color
.mdc-top-app-bar {
  @include topAppBar.fill-color($mdc-theme-surface);
}

.mdc-top-app-bar.primary {
  @include topAppBar.fill-color($mdc-theme-primary);
}

// elevation should use theme-surface as fill color so it can be used as surface
.mdc-elevation--z1 {
  @include elevation.elevation(1, $mdc-theme-on-surface);
}

.mdc-elevation--z2 {
  @include elevation.elevation(2, $mdc-theme-on-surface);
}

.mdc-elevation--z3 {
  @include elevation.elevation(3, $mdc-theme-on-surface);
}

.mdc-elevation--z1,
.mdc-elevation--z2,
.mdc-elevation--z3,
.mdc-elevation--z4,
.mdc-elevation--z5,
.mdc-elevation--z6,
.mdc-elevation--z7,
.mdc-elevation--z8,
.mdc-elevation--z9 {
  background-color: $mdc-theme-surface;
}

// button styles
.mdc-button {
  @include button.shape-radius(2px);
  .mdc-button__label {
    display: flex;
    align-items: center;
  }
}

// set icon colors
.mdc-icon,
.mdc-icon-button {
  @include iconButton.ink-color($mdc-theme-text-secondary-on-background);
}

// drawer
.mcd-drawer {
  @include drawer.title-ink-color($mdc-theme-text-primary-on-background);
  @include drawer.subtitle-ink-color($mdc-theme-text-primary-on-background);
  @include drawer.item-icon-ink-color($mdc-theme-text-primary-on-background);
  @include drawer.item-text-ink-color($mdc-theme-text-primary-on-background);
  @include drawer.surface-fill-color($mdc-theme-surface);
  @include drawer.item-shape-radius(0);
}

// fix for drawer positioning
.mdc-drawer {
  z-index: 12;
  background-color: $mdc-theme-surface;
  &.mdc-drawer--modal.mdc-drawer--open {
    top: 0;
    background-color: $mdc-theme-surface;
  }
}

// fix drawer display so we can have a nice drawer footer
.mdc-drawer--modal.mdc-drawer--open {
  display: flex;
}

// tabs
.mdc-tab-bar {
  @include tabBar.width("100%");

  .mdc-tab {
    @include tab.fixed-width("100px");
    @include tab.text-label-color($mdc-theme-text-primary-on-background);
    @include tab.icon-color($mdc-theme-text-primary-on-background);

    // fixes tab width
    flex: 1 0;
  }

  .mdc-tab-indicator {
    @include tabIndicator.underline-color($mdc-theme-primary);
  }
}

// list
.mdc-list {
  @include list.item-primary-text-ink-color($mdc-theme-text-primary-on-background);
  @include list.item-secondary-text-ink-color($mdc-theme-text-secondary-on-background);
  @include list.item-graphic-ink-color($mdc-theme-text-secondary-on-background);
  @include list.item-meta-ink-color($mdc-theme-text-secondary-on-background);
  @include list.divider-color($mdc-theme-on-background);
  @include list.group-subheader-ink-color($mdc-theme-text-primary-on-background);
  @include list.single-line-shape-radius(0);

  .mdc-list-item {
    color: $mdc-theme-text-primary-on-background;
  }

  .mdc-list-item:hover,
  .mdc-list-item::after,
  .mdc-list-item::before {
    background-color: transparent;
  }
  &:not(.mdc-list--non-interactive) {
    .mdc-list-item:hover {
      background-color: $mdc-theme-text-hint-on-dark;
      cursor: pointer;
    }
    .mdc-list-item::after,
    .mdc-list-item::before {
      background-color: $mdc-theme-text-primary-on-background;
    }
  }
}

// switch
.mdc-switch {
  @include switch.toggled-off-track-color($mdc-theme-on-surface);
  margin-left: 5px;
  margin-right: 10px;
}

// menu
.mdc-menu {
  background-color: $mdc-theme-surface;
}

/*
Fix the width of input components when inside grids
 */
.mdc-text-field {
  width: 100%;
  @include textfield.shape-radius(0);
  @include textfield.textarea-shape-radius(0);
  @include textfield.fill-color($mdc-theme-on-background);
  @include textfield.label-color($mdc-theme-text-primary-on-background);
  @include textfield.ink-color($mdc-theme-on-surface);
  &.mdc-text-field--textarea {
    textarea {
      padding-top: 25px;
    }
    .mdc-floating-label.mdc-floating-label {
      margin-left: 11px;
      top: 35px;
    }
    &.--focused {
      .mdc-floating-label.mdc-floating-label {
        top: 0px;
      }
    }
  }
  &.mdc-text-field--disabled {
    background-color: $mdc-theme-background;
    opacity: 0.55;
    .mdc-text-field__input {
      color: $mdc-theme-text-primary-on-background;
      &::placeholder {
        color: $mdc-theme-text-primary-on-background;
      }
    }
  }
  .mdc-text-field__input {
    width: 100%;
    resize: none;
    //border: 1px solid $mdc-theme-on-background;
  }
}

// textfield helper - color fix
.mdc-text-field-helper-text {
  margin-left: 2px !important;
  color: $mdc-theme-text-secondary-on-background;
  &--error {
    color: $webiny-theme-dark-primary !important;
  }
}

// dialog
.mdc-dialog {
  z-index: 20;
  .mdc-dialog__container {
    width: 100%;
  }
  .mdc-dialog__surface {
    border-radius: 0px;
    max-width: 875px;
    position: relative;
    .mdc-dialog__title {
      background-color: $mdc-theme-secondary;
      padding-bottom: 20px;
      font-size: 1.4rem;
      font-weight: 600;
      color: $mdc-theme-on-secondary;
    }
    .mdc-dialog__content {
      color: $mdc-theme-text-primary-on-background;
      max-height: 70vh;
      overflow: auto;
      margin-top: 0;
      padding-top: 24px;
      background-color: $mdc-theme-surface;

      // add options for when tabs are inside the body
      > .webiny-ui-tabs {
        margin: -24px;
        > .mdc-tab-bar {
          position: absolute;
          z-index: 10;
          @include tabBar.width(100%);
          background-color: $mdc-theme-secondary;
          .mdc-tab {
            @include tab.text-label-color($mdc-theme-on-secondary);
            @include tab.icon-color($mdc-theme-on-secondary);
            @include tab.fixed-width(100px);
            justify-content: flex-start;
            font-weight: 600;
          }
          .mdc-tab-indicator {
            padding-bottom: 5px;
            margin-top: -1px;
            @include tabIndicator.underline-color($mdc-theme-on-secondary);
            background-color: $mdc-theme-secondary;
          }
        }
        > .webiny-ui-tabs__content {
          padding-top: 50px;
          padding-bottom: 25px;
        }
      }
    }
    .mdc-dialog__actions {
      border-top: 1px solid $mdc-theme-on-background;
      background-color: $mdc-theme-surface;
      padding: 24px;
    }
  }
  &.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 0.7;
    background-color: var(--mdc-theme-on-surface);
  }
}

// select
.mdc-select {
  width: 100%;
  @include select.ink-color($mdc-theme-text-primary-on-background);
  @include select.label-color($mdc-theme-text-secondary-on-background);
  @include select.bottom-line-color($mdc-theme-text-secondary-on-background);
  @include select.hover-bottom-line-color($mdc-theme-text-primary-on-background);
  @include select.container-fill-color($mdc-theme-on-background);
  @include select.shape-radius(0);
  @include select.outline-shape-radius(2);

  /*
  Fix for select box appearance. For some reason browser prefix css attributes are striped away.
   */
  .mdc-select__native-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
  }

  &.mdc-select--box {
    border-radius: 2px;
    .mdc-select__native-control {
      padding-top: 10px;
    }
  }

  .mdc-select__dropdown-icon {
    bottom: 50%;
    transform: translateY(50%);
  }
}

// checkbox
.mdc-checkbox {
  @include checkbox.container-colors("text-secondary-on-background");
}

// radio button
.mdc-radio {
  @include radio.unchecked-stroke-color("text-secondary-on-background");
}

// snackbar
.mdc-snackbar {
  @include snackbar.shape-radius(2px);
  @include snackbar.z-index(1000);
}

.mdc-snackbar__action:not(:disabled) {
  color: var(--mdc-theme-primary);
  &::before {
    background-color: var(--mdc-theme-primary);
  }
  &::after {
    background-color: var(--mdc-theme-primary);
  }
}

// when grid is inside another grid cell, child grid should not have any padding
.mdc-layout-grid {
  > .mdc-layout-grid__inner {
    > .mdc-layout-grid__cell {
      > .mdc-layout-grid {
        padding: 0;
      }
    }
  }
}
