@use "@material/theme/mixins" as themeMixins;

// material variables
$mdc-theme-primary: $webiny-theme-light-primary;
$mdc-theme-on-primary: $webiny-theme-light-on-primary;
$mdc-theme-secondary: $webiny-theme-light-secondary;
$mdc-theme-on-secondary: $webiny-theme-light-on-secondary;
$mdc-theme-surface: $webiny-theme-light-surface;
$mdc-theme-on-surface: $webiny-theme-light-on-surface;
$mdc-theme-background: $webiny-theme-light-background;
$mdc-theme-on-background: $webiny-theme-light-on-background;
$mdc-theme-text-primary-on-background: $webiny-theme-light-text-primary-on-background !global;
$mdc-theme-text-secondary-on-background: $webiny-theme-light-text-secondary-on-background;
$mdc-theme-text-hint-on-dark: $webiny-theme-light-text-hint-on-dark;
$mdc-typography-font-family: $webiny-theme-typography-font-family;

@import "~material-components-web/material-components-web.scss";
@import "material-theme-assignments.scss";

body {
  background-color: $mdc-theme-background;
  min-height: 100vh;

  // assign all the sass variables in css variables
  --mdc-theme-primary: #{$mdc-theme-primary};
  --mdc-theme-secondary: #{$mdc-theme-secondary};
  --mdc-theme-background: #{$mdc-theme-background};
  --mdc-theme-surface: #{$mdc-theme-surface};
  --mdc-theme-on-primary: #{$mdc-theme-on-primary};
  --mdc-theme-on-secondary: #{$mdc-theme-on-secondary};
  --mdc-theme-on-surface: #{$mdc-theme-on-surface};
  --mdc-theme-on-background: #{$mdc-theme-on-background};
  --mdc-theme-text-primary-on-background: #{$mdc-theme-text-primary-on-background};
  --mdc-theme-text-secondary-on-background: #{$mdc-theme-text-secondary-on-background};
  --mdc-theme-text-hint-on-dark: #{$mdc-theme-text-hint-on-dark};
  --mdc-theme-caret-down: #{$webiny-theme-light-caret-down};

  font-family: "Source Sans Pro";
}

