.menu {
  > * {
    display: inline-block;
  }

  > * + * {
    margin-left: 15px;
  }
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;

  .button {
    color: #aaa;
  }

  .button[data-active='true'] {
    color: #fff;
  }
}

.editor > * > * + * {
  margin: 25px;
}