:global {
  .rich-editor {
    .plugin-resizer {
      border: 1px dashed blue;
      width: auto;
      position: relative;
      display: inline-block;
      .resize-handle {
        position: absolute;
        height: 10px;
        width: 10px;
        border: 1px solid blue;
        border-radius: 50px;
        &.br {
          cursor: nwse-resize;
          bottom: -5px;
          right: -5px;
          background-color: #fff;
        }
      }
    }

    .DraftEditor-root, .DraftEditor-editorContainer, .DraftEditor-content {
      text-align: inherit;
    }

    .CodeMirror {
      min-height: 30px;
      height: auto;
    }

    &.toolbar-floated {
      padding-top: 45px;
    }

    &__root {
      font-weight: normal;
      background: #fff;
      border: 1px solid #ddd;
      padding: 15px;
      text-align: inherit;

      .editor-toolbar {
        min-height: 28px;
        position: relative;
        z-index: 2;

        &.floating {
          height: 50px;
          position: fixed;
          top: 53px;
          z-index: 2000;
          background-color: white;
          padding: 12px 10px 10px 16px;
          border-bottom: 1px solid #ddd;
          box-shadow: 0px 5px 10px -8px gray;
        }
        .btn {
          margin: 0;
        }
        .dropdown > .btn {
          height: 28px;
          line-height: 100%;
        }
        .dropdown:after {
          content: '';
        }

        .toolbar-action {
          display: inline-block;
          margin-right: 6px;
          margin-bottom: 5px;
          position: relative;
          /*z-index: 1*/
          /* sven: causes problems when the toolbar goes into 2 lines */
          vertical-align: top;

          actions {
            display: flex; /* otherwise the alignment buttons break on mobile */
            > span {
              display: table-cell;
            }
          }

          .toolbar-dropdown {
            margin-right: 0px;
            button {
              line-height: 100%;
              height: 28px;
            }
          }

          button:not(.dropdown-toggle) {
            padding: 7px;
            border-radius: 0;
            margin: 0px;
            font-size: 12px;
            .icon{
              font-size: 12px;
            }
          }
          button:hover {
            box-shadow: 0px 0px 0px 1px #cdcdcd;
          }
        }
      }
    }

    &__editor {
      // border-top: 1px solid #ddd;
      cursor: text;
      margin-top: 10px;

      ul, ol, span[data-text="true"] {
        font-size: 16px;
        /*color: #393939;*/
        color: inherit;
        line-height: 150%;
        /* fix word wrapping on tables and other elements */
        word-break: keep-all;
        word-wrap: normal;
        white-space: normal;
      }

      ul, ol {
        li {
          list-style-position: outside;
          > div {
            /*display: inline-block;*/
            display: block; /* inline-block causes the bullets to be positioned to the bottom of the list item, instead to the top */
          }
        }
      }

      h1 span[data-text="true"],
      h2 span[data-text="true"],
      h3 span[data-text="true"],
      h4 span[data-text="true"],
      h5 span[data-text="true"],
      h6 span[data-text="true"] {
        font-size: inherit;
      }

      a span[data-text="true"] {
        color: inherit;
      }

      blockquote span[data-text="true"] {
        font-size: inherit;
        color: inherit;
      }

      .public-DraftEditorPlaceholder-root, .public-DraftEditor-content {
        margin: 0 -15px -15px;
        padding: 15px;
      }

      .public-DraftEditor-content {
        min-height: 100px;
      }

      .public-DraftEditorPlaceholder-root {
        display: none;
      }

      .public-DraftStyleDefault-pre {
        background-color: rgba(0, 0, 0, 0.05);
        font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
        font-size: 16px;
        padding: 20px;
      }

      &__blockquote {
        border-left: 5px solid #eee;
        color: #666;
        font-family: 'Hoefler Text', 'Georgia', serif;
        font-style: italic;
        margin: 16px 0;
        padding: 10px 20px;
      }

      figure {
        .row:before,
        .row:after {
          content: ''
        }
      }

      .clearfix {
        &:before, &:after {
          content: ''
        }
      }

      .alignment--left {
        .public-DraftStyleDefault-block {
          text-align: left;
        }
      }

      .alignment--center {
        .public-DraftStyleDefault-block {
          text-align: center;
        }
      }

      .alignment--right {
        .public-DraftStyleDefault-block {
          text-align: right;
        }
      }

      .alignment--justify {
        .public-DraftStyleDefault-block {
          text-align: justify;
        }
      }

      .alignment--justify:after {
        .public-DraftStyleDefault-block {
          content: "";
          display: inline-block;
          width: 100%;
        }
      }
    }

    code{
      font-family: "Source Sans Pro";
      background: #e7e7e7;
      color: #FA5723;
      padding: 2px 5px;
      font-size: 90%;
      border-radius: 0;
      margin: 0 2px;
    }

    .image-plugin-wrapper {
      display: block;
      width: auto;
      height: auto;

      .image-wrapper {
        margin: 20px;

        .resizer {
          @extend .plugin-resizer;
        }

        img {
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.175);
        }
      }

      input.caption {
        text-align: center;
        border: none;
        border-bottom: 1px solid #ddd;
        width: 60%;
        outline: none;
        padding: 10px;
        font-size: inherit;
      }
    }

    .video-plugin-wrapper {
      display: block;
      width: auto;
      height: auto;
      padding: 20px;

      .video-wrapper {
        margin: 20px;

        .resizer {
          @extend .plugin-resizer;
        }

        iframe {
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.175);
        }
      }

      input.caption {
        text-align: center;
        border: none;
        border-bottom: 1px solid #ddd;
        width: 60%;
        outline: none;
        padding: 10px;
        font-size: inherit;
      }
    }

    .code-block .rich-editor {
      display: block;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 100%;
      line-height: 1.42857143;
      word-break: break-all;
      word-wrap: break-word;
      background-color: inherit;
      border: none;
      border-radius: 4px;
      font-family: Monaco, Consolas, "Courier New", monospace;
    }

    .code-block {
      &--preview {
        pre {
          /*background-color: #23241f; sven: this prevents text selection from showing correctly */
        }
      }
    }

    .plugin-block-wrapper {
      position: relative;
      img{
        max-width: 100%;
      }
    }

    // fix for table component when rendered inside draft
    table td {
      display: block;
    }

    table td:before {
      content: attr(data-th);
      font-weight: bold;

      width: 100%;
      display: block;
      text-align: center;
    }
    @media (max-width: 768px) {
      table thead {
        display: none;
      }

      table tbody tr td, table thead tr th {
        text-align: center !important;
        border-top: none;
      }

      table tbody tr {
        border: 1px solid #ccc;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
      }
    }

    @media (min-width: 768px) {
      table td:before {
        display: none;
      }

      table td, table th {
        display: table-cell;
      }
    }
  }

  .Webiny_Ui_List_table {
    .rich-editor__root {
      padding: 0;
      border: none;
      background-color: transparent;
      position: relative;

      .public-DraftStyleDefault-ltr {
        text-align: inherit;
      }
    }
    .rich-editor__editor {
      margin: 0;

      .public-DraftEditor-content {
        padding-top: 0;
        min-height: 40px;
        text-align: inherit;
      }
    }

    .editor-toolbar {
      position: absolute;
      top: -80px;
      min-width: 310px;
      z-index: 200;
      background-color: #fff;
      padding: 6px 0 6px 8px;
      border-top: 4px solid #FA5723;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      .btn {
        font-size: 12px;
        font-weight: 400;
        &.btn-primary {
          color: white;
        }
      }
    }
  }

  // fixes for when an editor is inside a table
  table {
    .rich-editor,
    .rich-editor__editor,
    .rich-editor__editor .public-DraftEditor-content {
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      min-height: 20px;
    }
    .rich-editor__root {
      position: relative;
      .editor-toolbar {
        position: absolute;
        top: -70px;
        background-color: #fff;
        padding: 10px 10px 5px 10px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.175);
        border: 1px solid #ccc;
        min-width: 341px;
        z-index: 1000;
      }
    }
  }
}