.wrapper {
  ul {
    li {
      list-style: none;
      font-size: 15px;
      display: block;
      padding: 8px 5px 8px 8px;
      cursor: pointer;
      border-bottom: 1px solid #8080801c;
      border-left: 4px solid transparent;
      .listItemWrapper {
        display: inline-block;
        vertical-align: top;
        &.checkbox {
          label {
            margin: 10px 4px 0 6px;
          }
        }
      }
      &.selected {
        border-left: 4px solid #28afa6;
        .name {
          font-weight: bold;
        }
      }
      &:hover {
        .name {
          font-weight: bold;
        }
      }
      .description {
        font-size: 12px;
        color: #777;
        &.missing {
          color: red;
        }
      }
    }
  }
}