@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 14.5 95.6% 55.9%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 8px;

    // NEW
    --font-sans: "Inter", "Source Sans Pro", "Open Sans", sans-serif;

    --orange-100: 5 100% 97%;
    --orange-200: 15 94% 86%;
    --orange-300: 14 95% 78%;
    --orange-400: 15 100% 64%;
    --orange-500: 15 96% 56%;
    --orange-600: 14 81% 48%;
    --orange-700: 14 94% 40%;
    --orange-800: 14 100% 32%;
    --orange-900: 14 100% 25%;

    --teal-100: 168 50% 96%;
    --teal-200: 170 57% 92%;
    --teal-300: 168 58% 79%;
    --teal-400: 168 60% 65%;
    --teal-500: 170 100% 37%;
    --teal-600: 168 100% 35%;
    --teal-700: 165 100% 29%;
    --teal-800: 160 100% 20%;
    --teal-900: 160 100% 15%;

    --yellow-100: 43 100% 96%;
    --yellow-200: 45 97% 87%;
    --yellow-300: 45 95% 76%;
    --yellow-400: 45 96% 64%;
    --yellow-500: 45 96% 64%;
    --yellow-600: 45 100% 43%;
    --yellow-700: 45 100% 37%;
    --yellow-800: 45 98% 22%;
    --yellow-900: 45 97% 12%;

    --red-100: 0 100% 97%;
    --red-200: 0 96% 89%;
    --red-300: 1 83% 77%;
    --red-400: 0 66% 63%;
    --red-500: 0 71% 49%;
    --red-600: 360 76% 38%;
    --red-700: 359 73% 29%;
    --red-800: 0 84% 22%;
    --red-900: 359 82% 17%;

    --white-500: 0 0% 100%;

    --black-100: 210, 14%, 97%;
    --black-200: 220, 11%, 95%;
    --black-300: 225, 17%, 91%;
    --black-400: 219, 12%, 77%;
    --black-500: 218, 11%, 65%;
    --black-600: 215, 10%, 51%;
    --black-700: 213, 10%, 39%;
    --black-800: 215, 11%, 21%;
    --black-900: 214, 12%, 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
