ul.fieldsList {
  vertical-align: top;
  display: inline-block;
  border-left: 2px dashed #e0e0e0;
  margin: 0 0 0 9px;
  &:first-child {
    border-left: none;
    margin: 0;
  }
  li {
    font-size: 16px;
    list-style: none;
    cursor: pointer;
    margin-bottom: 5px;
    .field {
      background-color: #d8d8d8;
      border: 1px solid #b7b7b7;
      display: inline-block;
      padding: 0 4px;
      border-radius: 3px;
      min-width: 120px;
      font-size: 14px;

      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;

      &.active {
        background-color: #26AFA6;
        color: white;
        border: 1px solid #26AFA6;
      }
    }
  }
}

.noFieldsMessage {
  text-align: center;
  color: #777;
  margin: 300px;
  font-size: 14px;
}