service: project-name

plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-static
  - serverless-apigw-binary
  - serverless-apigwy-binary

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
    packager: 'yarn'
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, "us-east-1"}
  client:
    bucketId: ${opt:bucket, ""}
  api:
    source: ${opt:source, "src"}
  static:
    path: ./static
    port: 8000
  apigwBinary:
    types:
      - 'image/jpeg'
      - '*/*'

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  region: ${self:custom.region}
  role: ${opt:role, ""}

functions:
  api:
    name: '${self:service}-${self:custom.stage}-api'
    handler: ${self:custom.api.source}/handler.api
    events: [ { http: 'ANY /graphql' }, { http: 'ANY /graphql/{proxy+}' } ]
  filesCreate:
    name: '${self:service}-${self:custom.stage}-files-create'
    handler: ${self:custom.api.source}/files.createFile
    events: [ { http: 'POST /files' } ]
    environment:
      PLUGIN: localStorage
  filesRead:
    name: '${self:service}-${self:custom.stage}-files-read'
    handler: ${self:custom.api.source}/files.readFile
    environment:
      PLUGIN: localStorage
    events:
      - http:
          path: files/{proxy+}
          method: get
          contentHandling: CONVERT_TO_BINARY
          request:
            parameters:
              paths:
                src: true