.container {
	position: relative;
	clear: both;
	padding: 5px;
	padding-right: 85px;
	background-color: #FBFBFB;
}
.container .block {
	position: relative;
	display: inline-block;
	float: left;
	margin: 2px 2px;
	padding: 8px 35px 8px 15px;
	background-color: #00CCAE;
	border-radius: 20px;
	z-index: 100;
}
.container .block p {
	margin: 0;
	color: white;
	font-size: 14px;
	line-height: 1;
}
.container .block :global(.icon) {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.container .input {
	width: auto;
	padding: 8px;
	background-color: #FBFBFB;
	border: none;
	outline: none;
	font-size: 14px;
}
.container .removeKeyword {
	position: absolute;
	top: 23px;
	right: 10px;
	cursor: pointer;
}
.container .removeKeyword p {
	margin: 0;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
}
.container .removeKeyword p i {
	height: 8px;
	font-size: 12px;
	color: #FA5A28;
	vertical-align: middle;
}
.container .removeKeyword p i:before {
	margin-top: -2px;
	height: 8px;
	vertical-align: top;
}
.container:after {
	content: "";
	display: block;
	clear: both;
	float: none;
}
