.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-header {
  background: url($webiny-client-admin + '/assets/images/header_bg.jpg') repeat top left;
  text-align: center;
  padding: 16px;

  button.nav {
    float: left;
    width: 18px;
    height: 15px;
    border: none;
    margin: 5px 18px 0 0;
    padding: 0;
    background: transparent;

    &:focus {
      background: transparent;
    }
    &:hover, &:focus, &:active {
      background: transparent;
      border: none;
    }
    span {
      width: 18px;
      height: 2px;
      background: #fff;
      margin-bottom: 3px;
      display: block;
    }
  }

  a {
    &.search {
      float: left;
      width: 12px;
      height: 12px;
    }
    &.notification {
      float: right;
      span.icon {
        float: right;
        font-size: 18px;
        color: #FFF;
        margin: 0 17px 0 0;
      }
    }
  }
}

.navbar-header {
  .notification-holder .drop {
    position: absolute;
    background: #fff;
    z-index: 5000;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.176);
    top: 30px;
    right: 0;
    width: 287px;
    left: -245px;
    border-radius: 0;
    padding: 0;
    border: 1px solid #E0E0E0;
    span.top-arr {
      background: url($webiny-client-admin + '/assets/images/arr.png') no-repeat top left;
      width: 18px;
      height: 11px;
      position: absolute;
      top: -10px;
      display: block;
      left: 87%;
    }
    ul {
      padding: 0;
      margin-bottom: 0;
      li {
        border-bottom: 1px solid #F0F0F0;
        padding: 15px 25px 15px 25px;
        overflow: hidden;
        list-style: none;
        cursor: pointer;
        &:hover{
          background-color: #F3F3F3;
        }
      }
    }
    .drop-txt {
      line-height: 120%;
      padding-left: 30px;
    }
    ul li {
      a {
        font-weight: 600;
        color: #333;
        font-size: 16px;
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        font-size: 14px;
        &.timestamp > span {
          font-size: 80%;
          color: #666;
          font-weight: normal;
          display: block;
        }
      }
    }
  }
  .profile-holder .drop {
    position: absolute;
    background: #fff;
    z-index: 5000;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.176);
    top: 39px;
    width: 279px;
    left: -150px;
    border-radius: 0;
    padding: 0;
    border: none;
    @media (max-width: 768px) {
      left: auto;
      right: -17px;
    }
    span.top-arr {
      background: url($webiny-client-admin + '/assets/images/arr.png') no-repeat top left;
      width: 18px;
      height: 11px;
      position: absolute;
      top: -10px;
      display: block;
      left: 87%;
    }
    ul {
      padding: 15px 25px 0 25px;
      margin-bottom: 10px;
    }
    .drop_foot {
      padding: 15px 25px 0 25px;
    }
    ul li {
      border-bottom: 1px solid #F0F0F0;
      padding: 10px 0;
      overflow: hidden;
      text-align: left;
      list-style: none;
      &.last {
        border: none;
      }
      span {
        font-weight: 600;
        color: #333;
        font-size: 12px;
        float: left;
      }
    }
    .drop-txt {
      float: left;
      line-height: 120%;
    }
    ul li a {
      font-weight: 600;
      color: #333;
      font-size: 16px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .notification-holder {
    .drop {
      ul li {
        span.icon {
          font-size: 16px;
          float: left;
          color: #FA541D;
          margin-right: 5px;
          margin-top: 3px;
          &.read {
            color: #ccc;
          }
        }
        &:hover span.icon {
          color: #FA541D;
        }
      }
      a.all {
        border: 1px solid #E0E0E0;
        border-radius: 54px;
        padding: 10px 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #393939;
        font-size: 12px;
        display: inline-block;
        margin: 20px 0 20px 0;
        &:hover {
          color: #f95d2b;
        }
      }
    }
    .drop-footer {
      padding: 10px 15px;
      background: #F3F3F3;
      overflow: hidden;
    }
  }
  .profile-holder {
    .drop-footer {
      padding: 10px 15px;
      background: #F3F3F3;
      overflow: hidden;
    }
    position: relative;
    float: right;
  }

  .notification-holder .num {
    background: #3fbfb0;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -7px;
    right: 11px;
    display: block;
    border-radius: 54px;
    width: 18px;
    height: 18px;
    font-weight: 600;
    font-size: 11px;
    line-height: 146%;
    cursor: pointer;
  }
  a.profile {
    float: right;
  }
  .profile-holder {
    float: right;
    position: relative;
    margin-top: 2px;
  }
  .notification-holder {
    float: right;
    position: relative;
  }
}

.notification-list {
  .notification-block {
    border-bottom: 1px solid #F0F0F0;
    padding: 15px 25px 15px 25px;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
    .drop-txt{
      padding-left: 30px;
      line-height: 120%;
    }
    a{
      font-weight: 600;
      color: #333;
      font-size: 16px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #333;
      font-size: 14px;
      &.timestamp > span {
        font-size: 80%;
        color: #666;
        font-weight: normal;
        display: block;
      }
      &.icon {
        font-size: 16px;
        float: left;
        color: #FA541D;
        margin-right: 5px;
        margin-top: 3px;
        &.read {
          color: #ccc;
        }
      }
    }
  }
}

.navbar-inverse {
  border: none;
}

.navbar-header .profile span {
  display: inline-block;
  &.icon-user {
    font-size: 17px;
    color: #FFFFFF;
  }
  &.user, &.icon-caret-down {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1900;
  }

  .navbar-header a.profile span.icon {
    float: left;
    margin-right: 5px;
    font-size: 17px;
  }

  .navbar-header .profile span {
    &.icon-caret-down, &.user {
      display: none;
    }
  }

  .navbar-header button.nav {
    display: none;
  }

  .navbar-header .notification-holder {
    margin-top: 5px;
  }

  .navbar-header {
    width: 100%;
    padding: 10px 10px 8px 10px;
    a.logo {
      float: left;
      margin-right: 25px;
      position: inherit;
    }
  }

  .navbar-header {
    a.logo img {
      width: 100px;
      height: 32px;
    }
    .search {
      display: none;
    }

    .profile {
      float: right;
      margin-top: 5px;
    }

    .notification-holder {
      float: right;
      position: relative;
      margin-top: 5px;
      margin-right: 2px;
    }
  }
  .subheader {
    display: block;
  }

  .minimized .navbar-header {
    a.logo {
      margin-top: 3px;
    }

    .notification-holder {
      margin-top: 8px;
    }
    .profile-holder {
      margin-top: 3px;
    }

    .profile-holder .drop-footer {
      padding: 10px 15px;
      background: #F3F3F3;
      overflow: hidden;
      span.icon {
        font-size: 17px;
        float: left;
        margin: 1px 0 0 9px;
        color: #FA5722;
      }
      a.logout {
        font-size: 15px;
        color: #666;
        float: left;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .notification-holder .drop-footer a {
      &.read {
        float: left;
        font-size: 13px;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
      &.settings {
        &:hover {
          text-decoration: underline;
        }
        float: right;
        font-size: 13px;
        color: #333;
      }
    }
  }

  .navbar-header {
    .profile-holder .drop-footer {
      padding: 10px 15px;
      background: #F3F3F3;
      overflow: hidden;
      span.icon {
        font-size: 17px;
        float: left;
        margin: 1px 0 0 9px;
        color: #FA5722;
      }
      a.logout {
        font-size: 15px;
        color: #666;
        float: left;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .notification-holder .drop-footer a {
      &.read {
        float: left;
        font-size: 13px;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
      &.settings {
        &:hover {
          text-decoration: underline;
        }
        float: right;
        font-size: 13px;
        color: #333;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar-header .profile {
    color: #fff;
    &:hover {
      color: #fff;
    }
    span {
      &.user {
        display: block;
        float: left;
      }
      &.icon-caret-down {
        display: block;
      }
    }
  }
}