.fieldset {
	padding: 40px;
	border: 1px solid #e8e8e8;
	margin-bottom: 40px;
	box-shadow: none;
	border-radius: 0;
}

.legend {
	width: inherit;
	margin: 0;
	padding: 0 20px;
	border-bottom: none;
	background-color: transparent;

	font-weight: 600;
	font-size: 35px;
}