@import "@webiny/app-admin/lexical.css";

:root {
  --wa-theme-color1: #fa5723;
  --wa-theme-color2: #00ccb0;
  --wa-theme-color3: #0a0a0a;
  --wa-theme-color4: #616161;
  --wa-theme-color5: #eaecec;
  --wa-theme-color6: #ffffff;
  --wa-theme-font-family: "Inter", sans-serif;
}
