html{
  font-size: 12px;
  @include tablet{
    font-size: 14px;
  }
  @include desktop{
    font-size: 16px;
  }
}

.webiny-cms-page-document{
  background-color: var(--webiny-cms-theme-surface);
  min-height: calc(100vh - 205px);
  max-width: 100%;
  overflow-x: hidden;

  @include mobile{
    margin: 0 15px;
  }

  @include desktop-and-tablet{
    min-height: calc(100vh - 230px);
  }
}

// make images responsive
img{
  @include mobile{
    max-width: 100%;
  }
}

// base css class that applies to all elements created by the page editor
.webiny-cms-base-element-style{
  padding: var(--mobile-padding-top) var(--mobile-padding-right) var(--mobile-padding-bottom) var(--mobile-padding-left);
  margin: var(--mobile-margin-top) var(--mobile-margin-right) var(--mobile-margin-bottom) var(--mobile-margin-left);
  @include desktop-and-tablet {
    padding: var(--desktop-padding-top) var(--desktop-padding-right) var(--desktop-padding-bottom) var(--desktop-padding-left);
    margin: var(--desktop-margin-top) var(--desktop-margin-right) var(--desktop-margin-bottom) var(--desktop-margin-left);
  }
}