$webiny-cms-theme-typography-primary-font-family: "Alegreya" !default;
$webiny-cms-theme-typography-secondary-font-family: "Lato" !default;
$webiny-cms-theme-primary: #fa5723 !default;
$webiny-cms-theme-secondary: #00ccb0 !default;
$webiny-cms-theme-background: #f2f2f2 !default;
$webiny-cms-theme-surface: #fff !default;
$webiny-cms-theme-on-primary: #ffffff !default;
$webiny-cms-theme-on-secondary: #ffffff !default;
$webiny-cms-theme-on-surface: #000000 !default;
$webiny-cms-theme-on-background: rgba(212, 212, 212, 0.5) !default;
$webiny-cms-theme-text-primary: rgb(10, 10, 10) !default;

body{
  --webiny-cms-theme-typography-primary-font-family: #{$webiny-cms-theme-typography-primary-font-family};
  --webiny-cms-theme-typography-secondary-font-family: #{$webiny-cms-theme-typography-secondary-font-family};
  --webiny-cms-theme-primary: #{$webiny-cms-theme-primary};
  --webiny-cms-theme-secondary: #{$webiny-cms-theme-secondary};
  --webiny-cms-theme-background: #{$webiny-cms-theme-background};
  --webiny-cms-theme-surface: #{$webiny-cms-theme-surface};
  --webiny-cms-theme-on-primary: #{$webiny-cms-theme-on-primary};
  --webiny-cms-theme-on-secondary: #{$webiny-cms-theme-on-secondary};
  --webiny-cms-theme-on-surface: #{$webiny-cms-theme-on-surface};
  --webiny-cms-theme-on-background: #{$webiny-cms-theme-on-background};
  --webiny-cms-theme-text-primary: #{$webiny-cms-theme-text-primary};
}