// typography
$webiny-cms-theme-typography-primary-font-family: "IBM Plex Sans" !default;
$webiny-cms-theme-typography-secondary-font-family: "Lato" !default;

// colors
$webiny-cms-theme-primary: #EE896B !default;
$webiny-cms-theme-secondary: #00ccb0 !default;
$webiny-cms-theme-background: #F3F3F3 !default;
$webiny-cms-theme-surface: #fff !default;
$webiny-cms-theme-on-primary: #ffffff !default;
$webiny-cms-theme-on-secondary: #ffffff !default;
$webiny-cms-theme-on-surface: #000000 !default;
$webiny-cms-theme-on-background: #131313 !default;
$webiny-cms-theme-text-primary: rgb(10, 10, 10) !default;
$webiny-cms-theme-text-secondary: #616161 !default;

// media queries
$webiny-cms-theme-mobile-width: 480px;
$webiny-cms-theme-tablet-width: 768px;
$webiny-cms-theme-desktop-width: 1200px;

body{
  --webiny-cms-theme-typography-primary-font-family: #{$webiny-cms-theme-typography-primary-font-family};
  --webiny-cms-theme-typography-secondary-font-family: #{$webiny-cms-theme-typography-secondary-font-family};
  --webiny-cms-theme-primary: #{$webiny-cms-theme-primary};
  --webiny-cms-theme-secondary: #{$webiny-cms-theme-secondary};
  --webiny-cms-theme-background: #{$webiny-cms-theme-background};
  --webiny-cms-theme-surface: #{$webiny-cms-theme-surface};
  --webiny-cms-theme-on-primary: #{$webiny-cms-theme-on-primary};
  --webiny-cms-theme-on-secondary: #{$webiny-cms-theme-on-secondary};
  --webiny-cms-theme-on-surface: #{$webiny-cms-theme-on-surface};
  --webiny-cms-theme-on-background: #{$webiny-cms-theme-on-background};
  --webiny-cms-theme-text-primary: #{$webiny-cms-theme-text-primary};
}