/*
  Most often, this file will contain global CSS rules.
  But, if needed, specific pages can be targeted too.
*/

// General body styles.
body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Source Sans Pro", serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

// Styles for the global Layout component (components/Layout.tsx).
.layout {
  width: 100%;
}

// Targets the .home and .not-found pages.
.home, .not-found {
  height: 100vh;
  text-align: center;
  background-image: url(images/splash-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  .transparent-bg {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    max-height: 100vh;
  }
  .splash {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    .logo {
      margin-top: 100px;
    }
    ul {
      list-style: none;
      max-width: 960px;
      margin: 35px auto;
      padding: 0;
      li {
        width: 380px;
        padding: 15px 40px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        h1 {
          font-size: 24px;
        }
      }
    }
  }
}
