.editorContainer {
  display: flex;
  flex-direction: row;
}

.widgetsSidebar {
  width: 150px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  margin: 15px 30px 0 0;
  position: relative;

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      cursor: pointer;
      display: block;
      padding: 10px 10px;

      &:hover {
        color: #fff;
        background-color: #3FBFB0;
        > ul.editorWidgets {
          height: auto;
          border: 1px solid #DCDCDC;
          li {
            background-color: #fff;
          }
        }
      }
    }
  }

  ul.editorWidgets {
    height: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    left: 150px;
    margin: 0;
    background-color: #ffffff;
    width: 400px;
    flex-shrink: 0;
    overflow: hidden;
  }
}

.editorContent {
  border: 1px solid #DCDCDC;
  padding: 30px 30px 30px 38px;
  margin: 15px 30px 0 0;
  background-color: #ffffff;
  flex-basis: 700px;
  flex-shrink: 0;
  min-height: 600px;
}

.editorSidebar {
  flex: 2;
  margin-top: 15px;
}