.checkbox {
	all: initial;
	display: block;
	background-color: transparent;
	color: inherit;
	margin-bottom: 7px;

	font-family: "Source Sans Pro";
}

/* hide default input */
.checkbox input {
	display: none;
}

/* label */
.checkbox label {
	cursor: pointer;
	position: relative;
	padding-left: 32px;
	margin-right: 15px;
	margin-bottom: 0px;
	min-height: 19px;
	font-weight: normal;
}

.checkbox label:empty {
	padding-left: 10px;
}

.checkbox input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 19px;
	background-color: #ffffff;
	border: 1px solid #373737;
	transform: none;
}

.checkbox:hover label:before {
	border: 1px solid #373737;
}

.checkbox.checkboxDisabled label {
	opacity: 0.5;
	cursor: not-allowed;
}

/* checked state icon */
.checkbox input[type=checkbox]:checked + label:after,
.checkbox input[type=radio]:checked + label:after {
	position: absolute;
	font-family: 'fontello';
	content: "\e816";
	font-size: 13px;
	top: 2px;
	font-weight: normal;
	left: 1px;
	width: 0;
	height: 0;
	transform: rotate(-13deg);
	color: #333;
	margin: 0px;
	line-height: 20px;
}