.tile, .tile.default {
	box-sizing: border-box;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 0;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	border: 1px solid #E8E8E8;
}

.tile.primary {
	background: #FA5723;
	border-color: #ED4005;
}

.tile.success {
	background: #3FBFB0;
	border-color: #2E8B80;
}

.tile .header {
	font-size: 1.3em;
	font-weight: 200;
	text-transform: uppercase;
	color: #333;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 5px;
}

.tile .content {
	font-size: 14px;
	line-height: 135%;
}

.tile .header h3 {
	color: #333;
}

.tile.primary .header, .tile.primary .header h3 {
	color: #fff;
	border-color: #ED4005;
}

.tile.primary .content {
	color: #fff;
	border-color: #ED4005;
}

.tile.primary .content p, .tile.primary .content h1, .tile.primary .content h2, .tile.primary .content h3, .tile.primary .content h4, .tile.primary .content h5 {
	color: #fff;
	border-color: #ED4005;
}

.tile.success .header, .tile.success .header h3 {
	color: #fff;
	border-color: #ED4005;
}

.tile.success .content {
	color: #fff;
	border-color: #ED4005;
}

.tile.success .content p, .tile.success .content h1, .tile.success .content h2, .tile.success .content h3, .tile.success .content h4, .tile.success .content h5 {
	color: #fff;
	border-color: #ED4005;
}

.tile.success .header {
	border-color: #2E8B80;
}

.tile.success .content {
	border-color: #2E8B80;
}

.tile.success .content p, .tile.success .content h1, .tile.success .content h2, .tile.success .content h3, .tile.success .content h4, .tile.success .content h5 {
	border-color: #2E8B80;
}

.tile .header .ico {
	float: left;
	padding: 9px 10px 0 10px;
	font-size: 18px;
	line-height: 100%;
}

.tile .content {
	padding: 10px;
}

.tile .content h1, .tile .content h2, .tile .content h3, .tile .content h4, .tile .content h5 {
	padding: 0;
	margin: 0;
	border-bottom: none;
}

.tile .header h3 {
	font-size: 15px;
	font-weight: 500;
	margin: 10px;
}