.wrapper {
	margin-bottom: 15px;
	position: relative;
	text-align: left;
	overflow: visible;
}

.textarea {
	min-height: 145px;
	line-height: 135%;
	padding: 20px 15px;
	border: 1px solid #cdcdcd;
	width: 100%;
	background-color: #fbfbfb;
	color: #333;
	box-shadow: none;
	border-radius: 0;
	transition: all 225ms;
	display: block;
	font-size: 14px;
	overflow: auto;
	z-index: 1; /* so the error message goes behind the text area */
	-webkit-appearance: none; /* fixes the inner shadow on Safari (iphone) */
}

:global(.inputGroup).textarea{
	display: inline-block;
}

.textarea:focus{
	background: #fff;
	border-color: #333;
	outline: none !important;
	box-shadow: none !important;
}