.filter-bar {
    display: flex;
    justify-content: stretch;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    height: 73px;
}

.filter-bar__search {
    padding: 20px 0 0 15px;
    overflow: hidden;
    flex-basis: 70px;
    cursor: pointer;
    background-color: rgba(244, 244, 245, 0.5);
    transition: flex-basis 250ms cubic-bezier(0.86, 0, 0.07, 1);

    > label {
        cursor: pointer;
        float: left;
        display: block;
    }

    .inputContainer {
        display: inline-block;
        overflow: hidden;
        flex-basis: 0;
        margin: 0 0 0 10px;
        width: 0;
        position: absolute;

        input {
            opacity: 0;
            position: relative;
            background-color: transparent;
            border: 0;
            height: 30px;
            transition: opacity .25s ease-in-out;
        }
    }

    &.has-search, &:hover {
        color: #00ccaf;
        flex-basis: 35%;

        .inputContainer {
            width: auto;
            flex-basis: 70%;

            input {
                opacity: 1;
            }
        }
    }
}

.filter-bar__items {
    flex-basis: 65%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.filter-bar__item {
    color: #5f5f5f;
    font-size: 19px;
    text-transform: uppercase;
}

.filter-bar__item span {
    color: #b8b8b8;
}

.filter-bar__item:hover {
    color: #fa541d;
    text-decoration: none;
}

.filter-bar__item:hover span {
    color: inherit;
}

.filter-bar__item--active {
    color: #fa541d;
    font-weight: bold;
}

.filter-bar__item--active span {
    color: inherit;
}