.actions {
  position: absolute;
  right: 20px;
  top: 25px;

  a {
    padding: 0 10px;
    color: rgba(89, 89, 89, 0.5);
    &:hover {
      color: #FA5723;
    }

    :global(.icon) {
      font-size: 18px;
    }
  }
}

.preview {
  .previewHeader {
    padding: 20px;
  }
  .previewDetails {
    display: inline-block;
    padding: 16px 0;

    > div {
      display: inline-block;
      margin-right: 33px;
      color: rgba(89, 89, 89, 0.5);
    }
  }

  .previewRevision {
    float: right;
  }
}

.emptyPlaceholder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  background-color: #fff;

  .emptyContent {
    display: inline-block;
    max-width: 480px;
    margin-top: 160px;

    h3 {
      margin-top: 60px;
    }
  }
}