@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$webiny-cms-theme-tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$webiny-cms-theme-tablet-width}) and (max-width: #{$webiny-cms-theme-desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$webiny-cms-theme-desktop-width}) {
    @content;
  }
}