.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.6);
	min-height: 100%;
	width: 100%;
}

.iconWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 101;
	transform: translate(-50%, -50%);
	text-align: center;
}

.iconWrapper > * {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.icon {
	position: relative;
	transform-origin: 50% 50%;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 5px solid #ddd;
	border-radius: 100%;
	background: transparent;
	animation: spin 3s linear infinite;
}

.icon::after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	border-radius: 100%;
	border: 5px solid transparent;
	border-left-color: #fa5a28;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}