.editableTranslation {
  label {
    font-size: 13px;
    margin-bottom: 5px;
    span {
      color: #3FBFB0;
    }
  }
  textarea {
    min-height: initial;
    resize: vertical;
    padding: 10px;
  }
  webiny-form-container > div {
    margin-bottom: 0;
  }
}

.noTranslationLabel {
  color: #c1c1c1;
}