.codex-editor {
  /**
  * The context menu of the rich text editor is getting obscured if directly below is another rich text editor.
  * This change help us fix that visual issue.
  */
  z-index: unset;

  .codex-editor__redactor {
    padding-bottom: 0 !important;
  }

  .ce-delimiter {
    line-height: 1.6em;
    width: 100%;
    text-align: center;
  }

  .ce-delimiter:before {
    display: inline-block;
    content: "***";
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
  }

  // Reset default styles
  .ce-block__content:focus {
    outline: none;
  }
  *:focus {
    outline: none;
  }
  .ce-block__content {
    max-width: 100% !important;
  }

  // Reset drop target styles for block
  .ce-block--drop-target .ce-block__content:before {
    content: none !important;
  }
  .ce-block--drop-target .ce-block__content:after {
    content: none !important;
  }

  // Reset Toolbar style
  .ce-toolbar__content {
    max-width: 92%;
  }
}

@media (min-width: 651px) {
  .codex-editor--narrow .codex-editor__redactor {
    margin-right: 0 !important;
  }

  .codex-editor--narrow .ce-toolbar__plus {
    left: -35px !important;
  }

  .codex-editor--narrow .ce-toolbar__actions {
    right: -30px !important;
  }
}
