.codex-editor {
  .ce-toolbox {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e8e8eb;
    box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    border-radius: 6px;
    z-index: 2;
  }

  .ce-toolbox--opened {
    animation-duration: 0.1s;
    animation-name: panelShowing;
    padding: 5px 5px 5px 0;
  }

  .codex-editor__redactor {
    padding-bottom: 0 !important;
  }

  .ce-delimiter {
    line-height: 1.6em;
    width: 100%;
    text-align: center;
  }

  .ce-delimiter:before {
    display: inline-block;
    content: "***";
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
  }

  .ce-settings {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e8e8eb;
    box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    border-radius: 6px;
    z-index: 2;
  }

  // Reset default styles
  .ce-block__content:focus {
    outline: none;
  }
  *:focus {
    outline: none;
  }
  .ce-block__content {
    max-width: 100% !important;
  }

  // Reset drop target styles for block
  .ce-block--drop-target .ce-block__content:before {
    content: none !important;
  }
  .ce-block--drop-target .ce-block__content:after {
    content: none !important;
  }

  .ce-toolbar__actions {
    right: unset;
  }

  .ce-toolbar__actions--opened {
    opacity: 1;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e8e8eb;
    padding: 3px;
    top: -3px;
  }

  .ce-toolbar__content {
    max-width: 650px;
    margin: 0 auto;
    position: absolute;
  }
}

@media (min-width: 651px) {
  .codex-editor--narrow .codex-editor__redactor {
    margin-right: 0 !important;
  }

  .codex-editor--narrow .ce-toolbar__plus {
    left: -35px !important;
  }

  .codex-editor--narrow .ce-toolbar__actions {
    right: -30px !important;
  }
}
