.dropdown {
	all: initial;
	margin-right: 8px;
	display: inline-block;
	position: relative;
	font-family: "Source Sans Pro";
}

.dropdown.opened {
	overflow: visible;
}

.dropdown > .btn {
	border-radius: 0;
	padding: 6px 26px 6px 8px;
	height: 35px;
	line-height: 156%;
	position: relative;
	z-index: 99;
	margin-right: 0;
	background-color: #fbfbfb;
	color: #444;
	border: 1px solid #C1C4C9;
}

.dropdown > .btn:hover {
	box-shadow: none;
	color: #fa5a28;
}

.dropdown > .btn {
	background-color: #fff;
}

.caret {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	margin-left: 5px;
}

.dropdownMenu {
	padding: 15px;
	border-radius: 0;
	margin-top: -1px;
	border: 1px solid #ccc;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.175);
	left: 0;
	z-index: 100;
	text-align: left;
	animation: slideOutUp 225ms cubic-bezier(0.4, 0, 1, 1) both;
	transition: all 225ms;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	display: none;
}

.dropdown.opened > .dropdownMenu {
	opacity: 1;
	visibility: visible;
	animation: slideInDown 225ms cubic-bezier(0.22, 0.61, 0.36, 1) both;
	margin-top: -1px;
	z-index: 200;
	display: block;
}

.dropdown .dropdownMenu > li {
	list-style: none;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.dropdown .dropdownMenu > li.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dropdown .dropdownMenu > li.header {
	font-size: 12px;
	list-style: none;
	padding: 0 0 0 10px;
	margin: 0;
	display: block;
	line-height: 140%;
	color: #777777;
	white-space: nowrap;
}

.dropdown .dropdownMenu > li a {
	all: initial;
	font-family: "Source Sans Pro";
	padding: 5px 10px;
	cursor: pointer;
	color: #333;
	position: relative;
	display: block;
	clear: both;
	font-weight: normal;
	line-height: 140%;
	white-space: nowrap;
	font-size: 14px;
}

.dropdown .dropdownMenu > li > a > span::before {
	width: 1em;
	margin-right: .2em;
	margin-left: .2em;
}

.dropdownMenu > li a:hover {
	color: inherit;
	background-color: #f5f5f5;
	text-decoration: none;
}

.dropdown .dropdownToggle {
	border-radius: 0;
	padding: 6px 26px 6px 8px;
	height: 35px;
	line-height: 156%;
	position: relative;
	z-index: 99;
	margin-right: 0;
	background-color: #fbfbfb;
	color: #444;
	border: 1px solid #C1C4C9;
	text-transform: uppercase;
	font-size: 12px;
	white-space: nowrap
}

.dropdown.opened .dropdownToggle {
	box-shadow: none;
}

.dropdownToggle:focus {
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
}

.dropdownToggle:hover {
	box-shadow: none;
	color: #fa5a28;
}

.dropdown.balloon .dropdownMenu {
	z-index: 120;
	opacity: 0;
	animation: slideOutUp 225ms cubic-bezier(0.4, 0, 1, 1) both;
	transition: all 225ms;
}

.dropdown.balloon .dropdownToggle {
	border: none;
	padding: 5px 26px 5px 5px;
	background-color: transparent;
}

.dropdown .dropdownToggle:disabled,.dropdown .dropdownToggle:hover:disabled{
	cursor: not-allowed;
	opacity: 0.6;
	box-shadow: none !important;
	color: #444;
}

.dropdown.balloon .dropdownToggle:hover {
	background-color: transparent;
	color: #fa5a28;
	border: none;
	box-shadow: none;
}

.dropdown.balloon .dropdownToggle:active {
	border: none;
	box-shadow: none;
}

.dropdown.opened.balloon .dropdownToggle {
	border: none;
	padding: 5px 26px 5px 5px;
	background-color: transparent;
	color: #fa5a28;
}

.dropdown.opened.balloon .dropdownMenu {
	top: 0px;
	opacity: 1;
	visibility: visible;
	animation: slideInDown 225ms cubic-bezier(0.22, 0.61, 0.36, 1) both;
}

:global .Dropdown_dropdown > .dropdown-backdrop {
	z-index: 110;
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		height: 0px;
		overflow: hidden;
		transform: translate3d(0, -100%, 0);
	}
}