.static-toolbar {
  display: flex;
  position: relative;
  padding: 4px;
  vertical-align: middle;
  border: 1px solid #eee;
  will-change: transform;
  background: #fff;
  flex-wrap: wrap;
  z-index: 1;
}

.static-toolbar button.popup-item {
  border: 0;
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.static-toolbar button.popup-item:disabled {
  cursor: not-allowed;
}

.static-toolbar button.popup-item.spaced {
  margin-right: 2px;
}

.static-toolbar button.popup-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
}

.static-toolbar button.popup-item:disabled i.format {
  opacity: 0.2;
}

.static-toolbar button.popup-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.static-toolbar button.popup-item.active i {
  opacity: 1;
}

.static-toolbar .popup-item:hover:not([disabled]) {
  background-color: #eee;
}

.static-toolbar select.popup-item {
  border: 0;
  display: flex;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
}

.static-toolbar select.code-language {
  text-transform: capitalize;
  width: 130px;
}

.static-toolbar .popup-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.static-toolbar .popup-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  line-height: 16px;
  background-size: contain;
}

.static-toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.static-toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.static-toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.static-toolbar .icon.bullet-list,
.static-toolbar .icon.bullet {
  background-image: url("../../images/icons/list-ul.svg");
}

.static-toolbar .icon.numbered-list,
.static-toolbar .icon.number {
  background-image: url("../../images/icons/list-ol.svg");
}

.static-toolbar .link-editor .button.active,
.static-toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

.static-toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.static-toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.static-toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.static-toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.static-toolbar button.toolbar-item:disabled .icon,
.static-toolbar button.toolbar-item:disabled .text,
.static-toolbar button.toolbar-item:disabled i.format,
.static-toolbar button.toolbar-item:disabled .chevron-down {
  opacity: 0.2;
}

.static-toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.static-toolbar button.toolbar-item.active i {
  opacity: 1;
}

.static-toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.static-toolbar .toolbar-item.font-family .text {
  display: block;
  max-width: 40px;
}

.static-toolbar .code-language {
  width: 150px;
}

.static-toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  text-align: left;
  padding-right: 10px;
}

.static-toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.static-toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.static-toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.static-toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.lexical-dropdown-container {
  position: absolute;
  bottom: -5px;
  left: 0;
}

.static-toolbar button.item i {
  opacity: 0.6;
}

.static-toolbar button.item.dropdown-item-active {
  background-color: rgba(223, 232, 250, 0.3);
}

.static-toolbar button.item.dropdown-item-active i {
  opacity: 1;
}
