.floating-text-format-popup {
  display: flex;
  padding: 4px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: opacity 0.5s;
  height: 35px;
  will-change: transform;
}

.floating-text-format-popup button.popup-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.floating-text-format-popup button.popup-item:disabled {
  cursor: not-allowed;
}

.floating-text-format-popup button.popup-item.spaced {
  margin-right: 2px;
}

.floating-text-format-popup button.popup-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.floating-text-format-popup button.popup-item:disabled i.format {
  opacity: 0.2;
}

.floating-text-format-popup button.popup-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.floating-text-format-popup button.popup-item.active i {
  opacity: 1;
}

.floating-text-format-popup .popup-item:hover:not([disabled]) {
  background-color: #eee;
}

.floating-text-format-popup select.popup-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
}

.floating-text-format-popup select.code-language {
  text-transform: capitalize;
  width: 130px;
}

.floating-text-format-popup .popup-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.floating-text-format-popup .popup-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.floating-text-format-popup i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.floating-text-format-popup i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.floating-text-format-popup .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

i.palette {
  background-image: url("../../images/icons/palette.svg");
}

i.bucket {
  background-image: url("../../images/icons/paint-bucket.svg");
}

i.bold {
  background-image: url("../../images/icons/type-bold.svg");
}

i.italic {
  background-image: url("../../images/icons/type-italic.svg");
}

i.clear {
  background-image: url("../../images/icons/trash.svg");
}

i.code {
  background-image: url("../../images/icons/code.svg");
}

i.underline {
  background-image: url("../../images/icons/type-underline.svg");
}

i.strikethrough {
  background-image: url("../../images/icons/type-strikethrough.svg");
}

i.subscript {
  background-image: url("../../images/icons/type-subscript.svg");
}

i.superscript {
  background-image: url("../../images/icons/type-superscript.svg");
}

i.link {
  background-image: url("../../images/icons/link.svg");
}

i.horizontal-rule {
  background-image: url("../../images/icons/horizontal-rule.svg");
}

.icon.plus {
  background-image: url("../../images/icons/plus.svg");
}

.icon.caret-right {
  background-image: url("../../images/icons/caret-right-fill.svg");
}

.icon.dropdown-more {
  background-image: url("../../images/icons/dropdown-more.svg");
}

.icon.font-color {
  background-image: url("../../images/icons/font-color.svg");
}

.icon.font-family {
  background-image: url("../../images/icons/font-family.svg");
}

.icon.bg-color {
  background-image: url("../../images/icons/bg-color.svg");
}

i.image {
  background-image: url("../../images/icons/file-image.svg");
}

i.table {
  background-image: url("../../images/icons/table.svg");
}

i.close {
  background-image: url("../../images/icons/close.svg");
}

i.figma {
  background-image: url("../../images/icons/figma.svg");
}

i.poll {
  background-image: url("../../images/icons/card-checklist.svg");
}

i.tweet {
  background-image: url("../../images/icons/tweet.svg");
}

i.youtube {
  background-image: url("../../images/icons/youtube.svg");
}

.icon.left-align,
i.left-align {
  background-image: url("../../images/icons/text-left.svg");
}

i.center-align {
  background-image: url("../../images/icons/text-center.svg");
}

i.right-align {
  background-image: url("../../images/icons/text-right.svg");
}

i.justify-align {
  background-image: url("../../images/icons/justify.svg");
}

i.indent {
  background-image: url("../../images/icons/indent.svg");
}

i.markdown {
  background-image: url("../../images/icons/markdown.svg");
}

i.outdent {
  background-image: url("../../images/icons/outdent.svg");
}

i.undo {
  background-image: url("../../images/icons/arrow-counterclockwise.svg");
}

i.redo {
  background-image: url("../../images/icons/arrow-clockwise.svg");
}

i.sticky {
  background-image: url("../../images/icons/sticky.svg");
}

i.mic {
  background-image: url("../../images/icons/mic.svg");
}

i.import {
  background-image: url("../../images/icons/upload.svg");
}

i.export {
  background-image: url("../../images/icons/download.svg");
}

i.diagram-2 {
  background-image: url("../../images/icons/diagram-2.svg");
}

i.user {
  background-image: url("../../images/icons/user.svg");
}

i.equation {
  background-image: url("../../images/icons/plus-slash-minus.svg");
}

i.gif {
  background-image: url("../../images/icons/filetype-gif.svg");
}

i.copy {
  background-image: url("../../images/icons/copy.svg");
}

i.success {
  background-image: url("../../images/icons/success.svg");
}

i.prettier {
  background-image: url("../../images/icons/prettier.svg");
}

i.prettier-error {
  background-image: url("../../images/icons/prettier-error.svg");
}

i.chevron-down {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-image: url("../../images/icons/chevron-down.svg");
}

.link-editor .button.active,
.toolbar .button.active {
  background-color: rgb(223, 232, 250);
}


.floating-text-format-popup button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.floating-text-format-popup button.toolbar-item:disabled {
  cursor: not-allowed;
}

.floating-text-format-popup button.toolbar-item.spaced {
  margin-right: 2px;
}

.floating-text-format-popup button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.floating-text-format-popup button.toolbar-item:disabled .icon,
.floating-text-format-popup button.toolbar-item:disabled .text,
.floating-text-format-popup button.toolbar-item:disabled i.format,
.floating-text-format-popup button.toolbar-item:disabled .chevron-down {
  opacity: 0.2;
}

.floating-text-format-popup button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.floating-text-format-popup button.toolbar-item.active i {
  opacity: 1;
}

.floating-text-format-popup .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.floating-text-format-popup .toolbar-item.font-family .text {
  display: block;
  max-width: 40px;
}

.floating-text-format-popup .code-language {
  width: 150px;
}

.floating-text-format-popup .toolbar-item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  text-align: left;
  padding-right: 10px;
}

.floating-text-format-popup .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.floating-text-format-popup i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.floating-text-format-popup i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.lexical-dropdown {
  z-index: 10;
  display: block;
  position: fixed;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-height: 40px;
  background-color: #fff;
}

.lexical-dropdown .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  max-width: 250px;
  min-width: 100px;
}

.lexical-dropdown .item.fontsize-item,
.lexical-dropdown .item.fontsize-item .text {
  min-width: unset;
}

.lexical-dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.lexical-dropdown .item:first-child {
  margin-top: 8px;
}

.lexical-dropdown .item:last-child {
  margin-bottom: 8px;
}

.lexical-dropdown .item:hover {
  background-color: #eee;
}

.lexical-dropdown .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.lexical-dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lexical-dropdown .divider {
  width: auto;
  background-color: #eee;
  margin: 4px 8px;
  height: 1px;
}

@media screen and (max-width: 1100px) {
  .dropdown-button-text {
    display: none !important;
  }
  .font-size .dropdown-button-text {
    display: flex !important;
  }
  .code-language .dropdown-button-text {
    display: flex !important;
  }
}

 button.item i {
  opacity: 0.6;
}

button.item.dropdown-item-active {
  background-color: rgba(223, 232, 250, 0.3);
}

button.item.dropdown-item-active i {
  opacity: 1;
}
