.wrapper {
	margin-bottom: 20px;
}

.header {
	text-align: left;
	border-bottom: 3px solid red;
	margin-bottom: 15px;
	/*margin-top: 25px;*/
}

.wrapper .title {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	color: #2B2B2B;
	margin: 15px 2px;
}

.container {
	display: inline-block;
	float: right;
	min-height: 35px;
}