.cms-editor-dragging {
  .cms-disable {
    z-index: 10000000;
    opacity: 0.5;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* Append this class to the DOM elements you want to disable during element dragging. */
  .cms-editor-dragging--disabled {
    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: #b0b0b0;
    }
    iframe {
      pointer-events: none;
    }
  }
}

.cms-editor-resizing {
  /* Append this class to the DOM elements you want to disable during element resizing. */
  .cms-editor-resizing--disabled {
    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: #b0b0b0;
    }
    iframe {
      pointer-events: none;
    }
  }
}

.cms-editor {
  &.cms-editor-no-highlight {
    .type {
      display: none !important;
    }
    .webiny-cms-element-container::after {
      content: none;
    }
  }
}