.webiny-cms-element-button{
  display: flex;
  align-items: center !important;
  justify-content: center;
  padding: 14px 20px !important;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  will-change: opacity;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-weight: 600;
  box-sizing: border-box;
  outline: none;
  border: none;
  min-width: 100px;
  width: auto;
  background-color: $webiny-cms-theme-background;
  font-family: unquote($webiny-cms-theme-typography-primary-font-family);
  color: $webiny-cms-theme-on-background;
  >span{
    display: block;
    font-size: 1px;
    line-height: 100%;
  }
  &:hover{
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-1px);
  }
  &:active{
    transform: translateY(1px);
  }
  &--primary{
    background-color: $webiny-cms-theme-primary;
    color: $webiny-cms-theme-on-primary;
  }
  &--secondary{
    background-color: $webiny-cms-theme-secondary;
    color: $webiny-cms-theme-on-secondary;
  }
  &--simple{
    background-color: transparent;
    color: $webiny-cms-theme-primary;
    &:hover{
      box-shadow: none;
      transform: none;
      text-decoration: underline;
    }
  }
  &__icon{
    &--left{
      flex-direction: row;
      svg{
        margin-right: 5px;
      }
    }
    &--right{
      flex-direction: row-reverse;
      svg{
        margin-left: 5px;
      }
    }
    &--top{
      flex-direction: column;
      svg{
        margin-bottom: 5px;
      }
    }
    &--bottom{
      flex-direction: column-reverse;
      svg{
        margin-top: 5px;
      }
    }
  }
  > div {
    // this is a fix for the screen shot tool which changes the font and then breaks button text into multiple lines
    white-space: nowrap !important;
    word-break: keep-all !important;
    overflow: hidden !important;
  }

  // force center align on mobile
  @include mobile{
    margin: 20px auto !important;
  }
}