@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% {transform: translateX(200%);}
}

.webiny-cms-section-header-spacer{
  height: 50px;
  background-color: transparent;
  width: 100%;
}

.webiny-cms-section-header{
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(34, 45, 57, 0.15) 0px 0px 1px 1px;
  width: 100%;
  height: 40px;
  padding-top: 10px;

  &__wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop-and-tablet{
    padding: 10px 0 5px 0;

  }

  &__mobile-icon{
    position: fixed;
    top: 18px;
    right: 25px;
    z-index: 12;

    @include desktop-and-tablet{
      display: none;
    }
  }

  &__mobile-site-name{
    position: fixed;
    width: 100%;
    right: -25px;
    top: 28px;
    z-index: 12;
    a{
      font-size: 1.2rem;
      color: $webiny-cms-theme-text-primary;
      text-transform: uppercase;
      font-weight: 700;
    }
    @include desktop-and-tablet{
      display: none;
    }
  }

  &__mobile-overlay{
    opacity: 0;
    transition: opacity .25s ease-in-out;
    background-color: $webiny-cms-theme-on-background;
    &--active{
      opacity: 0.5;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      overflow: hidden;
      top:0;
      left: 0;
    }

    @include desktop-and-tablet{
      display: none;
    }
  }

  &__logo{
    margin-left: 25px;
    img{
      max-height: 30px;
    }

    @include desktop-and-tablet{
      flex: 1;
      margin-left: 0;

    }
    @include mobile{
      width: 50%;
    }
  }
  &__navigation{
    color: $webiny-cms-theme-primary;
    font-family:$webiny-cms-theme-typography-primary-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    a{
      color: $webiny-cms-theme-primary;
      text-decoration: none;
    }

    @include mobile{
      animation: slide-out 0.5s forwards;
      animation-timing-function: ease-in-out;
      position: fixed;
      width: 250px;
      right: 0;
      height: 100%;
      background: $webiny-cms-theme-background;
      top: 0;
      z-index: 11;
      transform: translateX(200%);
      &--mobile-active{
        animation: slide-in 0.5s forwards;
        display: block;
      }

      ul{
        font-size: 1.2rem;
        margin-top: 75px;
        margin-left: 35px;
        box-sizing: border-box;
        font-weight: 400;
        text-transform: uppercase;
        li{
          margin-bottom: 15px;
          ul{
            margin: 10px 0 0 25px;
          }
        }
      }
    }

    @include desktop-and-tablet{
      flex: 1;
      ul{
          display: flex;
          justify-content: flex-end;

          li{
            display: inline-block;
            position: relative;
            margin-left: 25px;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 400;
            cursor: pointer;
            padding: 10px;
            transition: background-color .2s;
            ul{
              display: none;
            }
            &:hover{
              background-color: $webiny-cms-theme-background;
              border-radius: $webiny-cms-theme-border-radius;
              ul{
                display: block;
                position: absolute;
                top: 35px;
                left: 0;
                width: 150px;
                background-color: $webiny-cms-theme-background;
                li{
                  padding: 10px;
                  margin: 0;
                  width: 100%;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
    }
  }
}