.webiny-cms-layout-block{
  width: 100%;
  &__wrapper{
    @include mobile{
      width: 100% !important;
    }

    @include tablet{
      width: 100% !important;
    }
  }
}
.webiny-cms-layout-row{
  position: relative;
  display: flex;
  flex: 1 100%;
  box-sizing: border-box;
  flex-direction: column;
  @include tablet{
    flex-direction: row;
  }
  @include desktop{
    flex-direction: row;
  }
}

.webiny-cms-layout-column{
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: auto;
  @include tablet{
    text-align: left;
    width: 100%;
  }
  @include desktop{
    text-align: left;
    width: 100%;
  }
}