strong{
  font-weight: 700;
}

em{
  font-style: italic;
}

.webiny-cms-typography-h1,
.webiny-cms-typography-h2,
.webiny-cms-typography-h3,
.webiny-cms-typography-h4,
.webiny-cms-typography-h5,
.webiny-cms-typography-h6{
  font-family: unquote($webiny-cms-theme-typography-secondary-font-family);
  color: $webiny-cms-theme-text-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.webiny-cms-typography-h1{
  color: $webiny-cms-theme-text-primary;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 300;
  letter-spacing: -0.01562em;
}

.webiny-cms-typography-h2{
  color: $webiny-cms-theme-text-primary;
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.00833em;
}

.webiny-cms-typography-h3{
  color: $webiny-cms-theme-text-primary;
  font-size: 3rem;
  line-height: 3.125rem;
  font-weight: 400;
  letter-spacing: normal;
}

.webiny-cms-typography-h4{
  color: $webiny-cms-theme-text-primary;
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.00735em;
}

.webiny-cms-typography-h5{
  color: $webiny-cms-theme-text-primary;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
}

.webiny-cms-typography-h6{
  color: $webiny-cms-theme-text-primary;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.webiny-cms-typography-body{
  font-family: unquote($webiny-cms-theme-typography-primary-font-family);
  color: $webiny-cms-theme-text-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.webiny-cms-typography-ordered-list,
.webiny-cms-typography-unordered-list{
  font-family:unquote($webiny-cms-theme-typography-primary-font-family);
  color: $webiny-cms-theme-text-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-left: 20px;
}

.webiny-cms-typography-body,
.webiny-cms-typography-ordered-list,
.webiny-cms-typography-unordered-list{
  a{
    color: $webiny-cms-theme-primary;
    &:hover{
      opacity: 0.8;
    }
  }
}

.webiny-cms-typography-code{
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 90%;
  background-color: $webiny-cms-theme-on-background;
  border-radius: 3px;
}

.webiny-cms-typography-description{
  font-family: unquote($webiny-cms-theme-typography-primary-font-family);
  color: $webiny-cms-theme-text-secondary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
}

.webiny-cms-typography--white{
  color: #fff;
}

.webiny-cms-typography--primary{
  color: $webiny-cms-theme-primary;
}

// force center align on mobile
@include mobile{
  .webiny-cms-element-text{
    text-align: center !important;
    > div > *{
      text-align: center !important;
    }
  }
}