@import "../variables";

.webiny-cms-typography-h1,
.webiny-cms-typography-h2,
.webiny-cms-typography-h3,
.webiny-cms-typography-h4,
.webiny-cms-typography-h5,
.webiny-cms-typography-h6{
  font-family: $webiny-cms-theme-typography-secondary-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.webiny-cms-typography-h1{
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 300;
  letter-spacing: -0.01562em;
}

.webiny-cms-typography-h2{
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.00833em;
}

.webiny-cms-typography-h3{
  font-size: 3rem;
  line-height: 3.125rem;
  font-weight: 400;
  letter-spacing: normal;
}

.webiny-cms-typography-h4{
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.00735em;
}

.webiny-cms-typography-h5{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
}

.webiny-cms-typography-h6{
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.webiny-cms-typography-body{
  font-family: $webiny-cms-theme-typography-primary-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.webiny-cms-typography-ordered-list,
.webiny-cms-typography-unordered-list{
  font-family:$webiny-cms-theme-typography-primary-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-left: 20px;
}

.webiny-cms-typography-body,
.webiny-cms-typography-ordered-list,
.webiny-cms-typography-unordered-list{
  a{
    color: $webiny-cms-theme-primary;
    &:hover{
      opacity: 0.8;
    }
  }
}

.webiny-cms-typography-code{
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 90%;
  background-color: $webiny-cms-theme-on-background;
  border-radius: 3px;
}