/*! Based on Typebase.scss v0.1.0 | MIT License https://github.com/devinhunt/typebase.css */

// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize:22 !default; // in pixels. This would result in 22px on desktop
$baseLineHeight:1.5 !default; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem !default;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.414 !default;


body, .webiny-cms-page-document{
  /* Change default typefaces here */
  font-family: unquote($webiny-cms-theme-typography-secondary-font-family);
  font-size: $baseFontSize / 16 * 100%;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
}

strong{
  font-weight: 700;
}

em{
  font-style: italic;
}

a{
  color: $webiny-cms-theme-primary;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

blockquote {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: $leading;
}

.webiny-cms-typography-h1,
.webiny-cms-typography-h2,
.webiny-cms-typography-h3,
.webiny-cms-typography-h4,
.webiny-cms-typography-h5,
.webiny-cms-typography-h6{
  font-family: unquote($webiny-cms-theme-typography-secondary-font-family);
  color: $webiny-cms-theme-text-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
  margin-top: $leading;
  margin-bottom: 0;
  line-height: 2rem;
}

.webiny-cms-typography-h1{
  font-weight: 300;
  letter-spacing: -0.01562em;
  font-size: 3 * $scale * 1rem;
  line-height: 3 * $leading;
  margin-top: 2 * $leading;
}

.webiny-cms-typography-h2{
  font-weight: 300;
  letter-spacing: -0.00833em;
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
  margin-top: 2 * $leading;
}

.webiny-cms-typography-h3{
  font-size: 1 * $scale * 1rem;
  font-weight: 400;
}

.webiny-cms-typography-h4{
  font-size: $scale / 1.5 * 1rem;
  font-weight: 400;
  letter-spacing: 0.00735em;
}

.webiny-cms-typography-h5{
  font-size: $scale / 2 * 1rem;
  font-weight: 400;
}

.webiny-cms-typography-h6{
  font-size: $scale / 3 * 1rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.webiny-cms-typography-body{
  line-height: $leading;
  margin-top: $leading;
  color: $webiny-cms-theme-text-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-bottom: 0;
}

.webiny-cms-typography-unordered-list{
  list-style: disc;
}

.webiny-cms-typography-ordered-list{
  list-style: decimal;
}

.webiny-cms-typography-ordered-list,
.webiny-cms-typography-unordered-list{
  margin-top: $leading;
  margin-bottom: $leading;
  color: $webiny-cms-theme-text-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-left: 20px;
  li {
    line-height: $leading;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.webiny-cms-typography-body,
.webiny-cms-typography-ordered-list,
.webiny-cms-typography-unordered-list{
  a{
    color: $webiny-cms-theme-primary;
    &:hover{
      opacity: 0.8;
    }
  }
}

.webiny-cms-typography-code{
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 90%;
  background-color: $webiny-cms-theme-on-background;
  border-radius: 3px;
}

.webiny-cms-typography-description{
  font-family: unquote($webiny-cms-theme-typography-primary-font-family);
  color: $webiny-cms-theme-text-secondary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
}

.webiny-cms-typography--white{
  color: #fff;
}

.webiny-cms-typography--primary{
  color: $webiny-cms-theme-primary;
}

// force center align on mobile
@include mobile{
  .webiny-cms-element-text, .webiny-cms-element-icon{
    text-align: center !important;
    > div > *{
      text-align: center !important;
    }
  }
}