.rte-block-delimiter {
  line-height: 1.6em;
  width: 100%;
  text-align: center;
  &:before {
    display: inline-block;
    content: "***";
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
  }
}
.rte-block-paragraph {
  font-family: inherit;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(17, 24, 39, 1);
  margin: 0 0 1rem;
}
.rte-block-image {
  max-width: 100%;
  margin: 0 0 1.5rem;
}
.rte-block-heading {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0 0 1.5rem;
  font-weight: 700;
  color: rgba(17, 24, 39, 1);
}
.rte-block-heading--h1 {
  font-size: 3rem;
  line-height: 1;
}
.rte-block-heading--h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.rte-block-heading--h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.rte-block-heading--h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.rte-block-heading--h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.rte-block-heading--h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.rte-block-blockquote {
  font-size: 1.125rem;
  line-height: 1.7777778;
  box-sizing: border-box;
  font-weight: 500;
  font-style: italic;
  color: #1a202c;
  border-left: 0.25rem solid #e2e8f0;
  margin: 1.6666667em 0;
  padding-left: 1em;

  & p {
    font-size: 1.125rem;
    line-height: 1.7777778;
    font-weight: 500;
    font-style: italic;
    color: #1a202c;
    quotes: "“" "”" "‘" "’";
    box-sizing: border-box;
    margin: 1.3333333em 0;

    &::before {
      content: open-quote;
      font-size: 1.5rem;
    }
    &::after {
      content: close-quote;
      font-size: 1.5rem;
    }
  }
}
.rte-block-list {
  list-style: inherit;
  line-height: 1.15;
  box-sizing: inherit;
  padding: 0 0 0 1rem;
  font-size: 0.875rem;
  color: rgba(17, 24, 39, 1);
  margin: 1.5rem 0 0;
  & li {
    line-height: 1.15;
    font-size: 0.875rem;
    color: rgba(17, 24, 39, 1);
    box-sizing: inherit;
    border: 0 solid currentColor;
    margin-bottom: 0.75rem;
  }
}
