.label {
	display: inline-block;
	padding: .2em .6em .3em;
	font-size: 100%;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0;
	font-weight: normal;
	margin: 2px 2px;
}

.default {
	background-color: #ebebeb;
	color: #333;
}

.info {
	background-color: #3F89BF;
}

.primary {
	background-color: #FA5723;
}

.success {
	background-color: #3FBFB0;
}

.warning {
	background-color: #FAA32E;
}

.danger {
	background-color: #CC3300;
}