.header {
    position: fixed;
    display: block;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 53px;
    background-color: #fff;
    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.43);
    padding: 4px 20px 4px 20px;

    .layout {
        display: flex;
    }

    input {
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #cdcdcd;
        padding: 10px;
        height: 40px;
    }

    .title {
        flex-basis: 40%;
        margin-right: 20px;
    }

    .revision {
        flex-basis: 30%;
        padding-top: 3px;
    }

    .actions {
        flex-basis: 30%;
    }
}
