.container {
    width: 100%;
    text-align: center;
    min-height: 37px;
    position: relative;
    padding: 5px 20px;

    .line {
        display: none;
    }

    &:hover {
        .line {
            display: block;
            height: 2px;
            background-color: #41bfb0;
            margin: 12px 0;
        }

        .addContent {
            display: block;
        }
    }

    .addContent {
        border-radius: 15px;
        color: #ffffff;
        display: none;
        cursor: pointer;
        position: relative;
        height: 25px;
        padding: 3px 13px;
        background-color: #41bfb0;
        margin: -25px auto;
        width: 170px;
    }

    .widgetSelector {
        position: relative;
        display: block;
        min-height: 500px;
        border: 1px solid #f6f6f6;

        .widgetGroups {
            padding: 0;
            margin: 0;
            display: block;
            flex-basis: 200px;
            width: 200px;
            background-color: #f6f6f6;
            min-height: inherit;

            > li {
                list-style: none;
                text-align: left;
                background-color: #f6f6f6f6;
                border-bottom: none;
                padding: 10px;

                > div {
                    display: none;
                    height: 500px;
                    position: absolute;
                    left: 200px;
                    top: 0;
                    margin: 0;
                    overflow: scroll;
                    padding: 20px;

                    > div {
                        margin: 5px 0;
                    }
                }

                &:hover {
                    background-color: #999999;
                    color: white;
                    > div {
                        background-color: #999999;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
