:global {
  .smde .CodeMirror {
    height: auto;
    min-height: 300px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    font: inherit;
    z-index: 1;
    position: relative;
    color: #333333;
  }

  .CodeMirror-line {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    padding: 0 4px;
  }

  .CodeMirror-cursors {
    visibility: visible;
    position: relative;
    z-index: 3;
    .CodeMirror-cursor {
      position: absolute;
      pointer-events: none;
      border-left: 1px solid black;
      border-right: none;
      width: 0;
    }
  }

  .CodeMirror-lines {
    cursor: text;
    min-height: 1px;
    padding: 4px 0;
  }

  .CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .smde .CodeMirror-scroll {
    min-height: 300px
  }

  .smde .CodeMirror-fullscreen {
    background: #fff;
    position: fixed !important;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 9;
  }

  .smde .CodeMirror-sided {
    width: 50% !important;
  }

  .smde .editor-toolbar {
    position: relative;
    opacity: .6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0 10px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .smde .editor-toolbar:after,
  .smde .editor-toolbar:before {
    display: block;
    content: ' ';
    height: 1px;
  }

  .smde .editor-toolbar:before {
    margin-bottom: 8px
  }

  .smde .editor-toolbar:after {
    margin-top: 8px
  }

  .smde .editor-toolbar:hover,
  .smde .editor-wrapper input.title:focus,
  .smde .editor-wrapper input.title:hover {
    opacity: .8
  }

  .smde .editor-toolbar.fullscreen {
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: #fff;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 9;
  }

  .smde .editor-toolbar.fullscreen::before {
    width: 20px;
    height: 50px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .smde .editor-toolbar.fullscreen::after {
    width: 20px;
    height: 50px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .smde .editor-toolbar a {
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: #2c3e50 !important;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
  }

  .smde .editor-toolbar a.active,
  .smde .editor-toolbar a:hover {
    background: #fcfcfc;
    border-color: #95a5a6;
  }

  .smde .editor-toolbar a:before {
    line-height: 30px
  }

  .smde .editor-toolbar i.separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
  }

  .smde .editor-toolbar a.fa-header-x:after {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 65%;
    vertical-align: text-bottom;
    position: relative;
    top: 2px;
  }

  .smde .editor-toolbar a.fa-header-1:after {
    content: "1";
  }

  .smde .editor-toolbar a.fa-header-2:after {
    content: "2";
  }

  .smde .editor-toolbar a.fa-header-3:after {
    content: "3";
  }

  .smde .editor-toolbar a.fa-header-bigger:after {
    content: "▲";
  }

  .smde .editor-toolbar a.fa-header-smaller:after {
    content: "▼";
  }

  .smde .editor-toolbar.disabled-for-preview a:not(.no-disable) {
    pointer-events: none;
    background: #fff;
    border-color: transparent;
    text-shadow: inherit;
  }

  @media only screen and (max-width: 700px) {
    .smde .editor-toolbar a.no-mobile {
      display: none;
    }
  }

  .smde .editor-statusbar {
    padding: 8px 10px;
    font-size: 12px;
    color: #959694;
    text-align: right;
  }

  .smde .editor-statusbar span {
    display: inline-block;
    min-width: 4em;
    margin-left: 1em;
  }

  .smde .editor-statusbar .lines:before {
    content: 'lines: '
  }

  .smde .editor-statusbar .words:before {
    content: 'words: '
  }

  .smde .editor-statusbar .characters:before {
    content: 'characters: '
  }

  .smde .editor-preview {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 7;
    overflow: auto;
    display: none;
    box-sizing: border-box;
  }

  .smde .editor-preview-side {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 50%;
    top: 50px;
    right: 0;
    background: #fafafa;
    z-index: 9;
    overflow: auto;
    display: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }

  .smde .editor-preview-active-side {
    display: block
  }

  .smde .editor-preview-active {
    display: block
  }

  .smde .editor-preview > p,
  .smde .editor-preview-side > p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .smde .editor-preview pre,
  .smde .editor-preview-side pre {
    background: #f7f7f7;
    margin-bottom: 10px;
    padding: 10px;
  }

  .smde .editor-preview table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  .smde .editor-preview table td,
  .smde .editor-preview table th,
  .smde .editor-preview-side table td,
  .smde .editor-preview-side table th {
    padding: 10px 18px;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 1.5;
  }

  .smde .CodeMirror .CodeMirror-code .cm-tag {
    color: #63a35c;
  }

  .smde .CodeMirror .CodeMirror-code .cm-attribute {
    color: #795da3;
  }

  .smde .CodeMirror .CodeMirror-code .cm-string {
    color: #183691;
  }

  .smde .CodeMirror .CodeMirror-selected {
    background: #d9d9d9;
  }

  .smde .CodeMirror .CodeMirror-code .cm-header-1 {
    font-size: 200%;
    line-height: 200%;
  }

  .smde .CodeMirror .CodeMirror-code .cm-header-2 {
    font-size: 160%;
    line-height: 160%;
  }

  .smde .CodeMirror .CodeMirror-code .cm-header-3 {
    font-size: 125%;
    line-height: 125%;
  }

  .smde .CodeMirror .CodeMirror-code .cm-header-4 {
    font-size: 110%;
    line-height: 110%;
  }

  .smde .CodeMirror .CodeMirror-code .cm-comment {
    background: rgba(0, 0, 0, .05);
    border-radius: 2px;
  }

  .smde .CodeMirror .CodeMirror-code .cm-link {
    color: #7f8c8d;
  }

  .smde .CodeMirror .CodeMirror-code .cm-url {
    color: #aab2b3;
  }

  .smde .CodeMirror .CodeMirror-code .cm-strikethrough {
    text-decoration: line-through;
  }

  .smde .CodeMirror .CodeMirror-placeholder {
    opacity: .5;
  }

  .smde .CodeMirror .CodeMirror-line {
    font-size: 16px;
  }
}