@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // New variables from design.

    // Background colors.
    --bg-neutral-base: HHH, SSS%, LLL%;
    --bg-neutral-dark: HHH, SSS%, LLL%;
    --bg-neutral-dimmed: HHH, SSS%, LLL%;
    --bg-neutral-xstrong: HHH, SSS%, LLL%;
    --bg-neutral-strong: HHH, SSS%, LLL%;
    --bg-neutral-muted: HHH, SSS%, LLL%;
    --bg-neutral-disabled: HHH, SSS%, LLL%;
    --bg-neutral-light: HHH, SSS%, LLL%;
    --bg-neutral-subtle: HHH, SSS%, LLL%;
    --bg-neutral: HHH, SSS%, LLL%;

    --bg-primary: HHH SSS% LLL%;
    --bg-primary-strong: HHH SSS% LLL%;
    --bg-primary-xstrong: HHH SSS% LLL%;
    --bg-primary-muted: HHH SSS% LLL%;
    --bg-primary-subtle: HHH SSS% LLL%;
    --bg-primary-disabled: HHH SSS% LLL%;

    --bg-secondary: HHH SSS% LLL%;
    --bg-secondary-strong: HHH SSS% LLL%;
    --bg-secondary-xstrong: HHH SSS% LLL%;
    --bg-secondary-muted: HHH SSS% LLL%;
    --bg-secondary-subtle: HHH SSS% LLL%;
    --bg-secondary-disabled: HHH SSS% LLL%;

    --bg-success: HHH SSS% LLL%;
    --bg-success-strong: HHH SSS% LLL%;
    --bg-success-xstrong: HHH SSS% LLL%;
    --bg-success-muted: HHH SSS% LLL%;
    --bg-success-subtle: HHH SSS% LLL%;
    --bg-success-disabled: HHH SSS% LLL%;

    --bg-destructive: HHH SSS% LLL%;
    --bg-destructive-strong: HHH SSS% LLL%;
    --bg-destructive-xstrong: HHH SSS% LLL%;
    --bg-destructive-muted: HHH SSS% LLL%;
    --bg-destructive-subtle: HHH SSS% LLL%;
    --bg-destructive-disabled: HHH SSS% LLL%;

    --bg-warning: HHH SSS% LLL%;
    --bg-warning-strong: HHH SSS% LLL%;
    --bg-warning-xstrong: HHH SSS% LLL%;
    --bg-warning-muted: HHH SSS% LLL%;
    --bg-warning-subtle: HHH SSS% LLL%;
    --bg-warning-disabled: HHH SSS% LLL%;

    // Text colors.
    --text-primary: HHH SSS% LLL%;
    --text-subtle: HHH SSS% LLL%;
    --text-muted: HHH SSS% LLL%;
    --text-dimmed: HHH SSS% LLL%;
    --text-disabled: HHH SSS% LLL%;
    --text-white: HHH SSS% LLL%;

    // Border color.
    --border-color-neutral-dark: HHH SSS% LLL%;
    --border-color-neutral-strong: HHH SSS% LLL%;
    --border-color-neutral-muted: HHH SSS% LLL%;
    --border-color-neutral-dimmed: HHH SSS% LLL%;
    --border-color-neutral-subtle: HHH SSS% LLL%;
    --border-color-accent-default: HHH SSS% LLL%;
    --border-color-accent-subtle: HHH SSS% LLL%;
    --border-color-destructive-default: HHH SSS% LLL%;
    --border-color-success-default: HHH SSS% LLL%;

    // Border radius.
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --radius-xxl: 36px;

    // Padding.
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-xl: 32px;
    --padding-xxl: 48px;

    // Old vars (we'll delete these once we're done).

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 15 96% 56%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --neutral: 210 40% 96.1%;
    --neutral-strong: 210 40% 96.1%;
    --neutral-muted: 210 40% 96.1%;
    --neutral-dimmed: 210 40% 96.1%;
    --neutral-disabled: 210 40% 96.1%;
    --neutral-light: 0 0% 100%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --font-sans: "Inter", "Source Sans Pro", "Open Sans", sans-serif;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 8px;
  }
}

//@layer base {
//  * {
//    @apply border-border;
//  }
//
//  body {
//    @apply bg-background text-foreground;
//    font-feature-settings: "rlig" 1, "calt" 1;
//  }
//}
