@import "~webiny-admin/styles.scss";

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--mdc-theme-secondary);

    position: fixed;
    z-index: 1031;
    top: 64px;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: none;
}