.editorWidget {
    position: relative;

    .actions {
        position: absolute;
        height: auto;
        margin-bottom: 10px;
        opacity: 0;
        top: 0;
        width: 100%;
        background-color: #fa5a28;
        color: white;
        padding: 5px;
        z-index: 10;

        .action {
            cursor: pointer;
            margin-right: 10px;
            &:hover {
                color: #d2d2d2;
            }
        }
    }

    &:hover {
        > .actions {
            opacity: 1;
        }
    }
}
