.editorWidget {
  position: relative;
  padding: 20px 0;

  .actions {
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    opacity: 0;

    .action {
      cursor: pointer;
      margin-right: 10px;
      &:hover {
        color: #FA5723;
      }
    }
  }

  &:hover > .actions {
    opacity: 1;
    color: #c6c6c6;
  }
}