.icon-right{
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: $lighterFontcolor;
}

.list-icon{
  position: absolute;
  top: 15px;
  left: 0;
  display: inline-block;
}