.attributesPermissions {
  :global {
    .Webiny_Ui_TooltipContent_content {
      padding: 10px 10px;
      width: 350px;
      max-width: initial;
    }

    .Webiny_Ui_TooltipContent_innerContent {
      border-radius: 2px;
      text-align: left;
      white-space: initial;
      color: #393939;
      background-color: white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 100;
      padding: 10px;
    }

    .Webiny_Ui_TooltipContent_contentTop:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid white;
      bottom: 3px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }

    .Webiny_Ui_TooltipContent_contentRight:before {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid white;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
    }

    .Webiny_Ui_TooltipContent_content strong {
      width: 200px;
      border-radius: 2px;
    }
  }

  .detailsTooltip {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: 15px;
        display: block;
        padding: 8px 5px 8px 8px;
        cursor: pointer;
        border-bottom: 1px solid #8080801c;
        border-left: 4px solid transparent;
        .listItemWrapper {
          display: inline-block;
          vertical-align: top;
        }
        &:hover {
          .name {
            font-weight: bold;
          }
        }
      }
    }
    h3 {
      text-align: left;
      font-size: 18px;
      padding: 0 20px 2px 0;
      font-weight: 500;
      margin: 0 0 5px;
    }

    .publicMethod {
      color: #26afa6;
    }

    .methodBox {
      background-color: #fa5723;
      color: white;
      display: inline-block;
      padding: 2px 4px;
      border-radius: 2px;
      font-size: 11px;
      margin-right: 5px;
    }
  }

}