.pb-editor-dragging {
  .pb-disable {
    z-index: 10000000;
    opacity: 0.5;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* Append this class to the DOM elements you want to disable during element dragging. */
  .pb-editor-dragging--disabled {
    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: #b0b0b0;
    }
    iframe {
      pointer-events: none;
    }
  }
}

.pb-editor-resizing {
  /* Append this class to the DOM elements you want to disable during element resizing. */
  .pb-editor-resizing--disabled {
    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: #b0b0b0;
    }
    iframe {
      pointer-events: none;
    }
  }
}

.pb-editor {
  &.pb-editor-no-highlight {
    .type {
      display: none !important;
    }
    .webiny-pb-page-element-container::after {
      content: none;
    }
    .webiny-pb-base-page-element-style::after {
      content: none;
    }
  }
}

/**
 *  `Medium editor` styles
 */
@import "medium-editor/dist/css/medium-editor.css";
@import "medium-editor/dist/css/themes/mani.css";

/**
 *  Override `Medium editor` toolbar default styles
 */
.medium-editor-element {
  min-height: 15px;
}

.medium-editor-toolbar {
  border: 1px solid #f2f2f2 !important;
  border-radius: 5px !important;
  border-bottom: 5px solid #e86337 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75) !important;
}
.medium-editor-toolbar li button {
  background-color: #fff !important;
  min-width: 30px !important;
  height: 30px !important;
  line-height: 100% !important;
  padding: 5px !important;
  color: #757575 !important;
  border-right: 1px solid #f2f2f2 !important;
}
.medium-editor-toolbar li .medium-editor-button-active {
  background: #f2f2f2 !important;
  color: #e86337 !important;
}
.medium-editor-toolbar li button:hover {
  background-color: #fff !important;
  color: #e86337 !important;
}
