.search {
	position: relative;
	padding: 0 41px 0 0;
	border: 1px solid #cdcdcd;
	background: #fbfbfb;
	font-size: 14px;
}

.search input:focus + .autosuggest {
	display: block;
}

.search input {
	width: 100%;
	height: 42px;
	color: #333;
	line-height: 156%;
	padding: 0 0 0 8px;
	background-color: transparent;
	border: none;
}

.search input:focus {
	outline: none;
	box-shadow: none;
}

.search a.btn {
	position: absolute;
	top: -2px;
	right: 0px;
	bottom: 0;
	width: 41px;
	padding: 0;
	margin-left: -5px;
	border-radius: 0;
}

.search a.btn span.icon {
	font-size: 20px;
	color: #333;
	margin-top: 5px;
	line-height: 230%;
}

.search a.btn span.icon:hover {
	color: #f95d2b;
}

.search span.icon {
	position: initial !important;
}

.search .autosuggest {
	position: absolute;
	top: 42px;
	left: -1px;
	right: 0;
	/*min-width: 430px; sven: nije potrebno*/
	width: 100%;
	background: #fff;
	z-index: 5000;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.176);
	border: 1px solid #cdcdcd;
	box-sizing: content-box;
	text-align: center;
	display: none;
}

.search .autosuggest .functions {
	background: #F2F2F2;
	padding: 25px;
	overflow: hidden;
}

.search .autosuggest .functions ul {
	clear: both;
	margin-bottom: 5px;
	overflow: hidden;
	margin-left: -5px;
}

.search .autosuggest .functions ul li {
	float: left;
	font-size: 13px;
	color: #505050;
	list-style: none;
	padding-left: 0;
}

.search .autosuggest .functions ul li span.icon.icon-caret-down {
	display: inline-block;
	fill: #666;
	transform: rotate(-90deg);
	font-size: 9px;
}

.search .autosuggest .functions ul li a {
	font-size: 13px;
	color: #505050;
	padding: 3px 5px;
}

.search .autosuggest .functions ul li a:hover {
	background: #3FBFB0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}

.search .autosuggest .functions.sec {
	background: #F8F8F8;
}

.search .autosuggest .functions.sec h2 {
	font-size: 13px;
	color: #F95015;
	margin-bottom: 10px;
	font-weight: 600;
	text-align: left;
}

.search .autosuggest .plainSearch {
	padding: 0;
	overflow: hidden;
}

.search .autosuggest .plainSearch ul {
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}

.search .autosuggest .plainSearch ul li {
	margin-bottom: 0px;
	clear: both;
	overflow: hidden;
	padding-left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.search .autosuggest .plainSearch ul li span.icon {
	float: left;
	margin-right: 5px;
	color: #E3E3E3;
	font-size: 25px;
}

.search .autosuggest .plainSearch ul li span.icon:before {
	margin-left: 0;
	width: auto;
}

.search .autosuggest .plainSearch ul li a {
	font-size: 14px;
	color: #333;
	text-align: left;
	display: block;
	width: 100%;
	padding: 10px;
}

.search .autosuggest .plainSearch ul li.selected a,
.search .autosuggest .plainSearch ul li a:hover {
	text-decoration: none;
	background-color: #FBFBFB;
}

.search .autosuggest .plainSearch ul li a.url {
	float: left;
	font-size: 12px;
	color: #838383;
}

.search .autosuggest a.all {
	border: 1px solid #E0E0E0;
	-webkit-border-radius: 54px;
	-moz-border-radius: 54px;
	border-radius: 54px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #393939;
	font-size: 12px;
	display: inline-block;
	margin: 20px 0 0 0;
}

.search .autosuggest a.all:hover {
	color: #f95015;
}

.search .autosuggest .footer {
	background: #F2F2F2;
	padding: 15px 15px 10px 15px;
	overflow: hidden;
}

.search .autosuggest .footer p {
	font-size: 13px;
	color: #414141;
	float: left;
	margin-right: 35px;
	margin-bottom: 0;
}

.search .autosuggest .footer p span {
	float: left;
	margin-right: 6px;
}

.search .autosuggest .footer p span.icon {
	font-size: 16px;
	color: #8D8D8D;
	float: left;
}

.search .autosuggest .footer p.enter {
	font-size: 13px;
	color: #414141;
	float: right;
	margin-right: 7px;
}
