.webiny-pb-section-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 20px 10px;
  background-color: var(--webiny-theme-color-backgrounda, #282c34);
}

// adjust some styles in case when we render the full layout inside the page editor
.webiny-pb-editor-content-preview {
  .webiny-pb-section-footer {
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.webiny-pb-media-query--mobile-landscape .webiny-pb-section-footer,
.webiny-pb-media-query--mobile-portrait .webiny-pb-section-footer {
}
