// font-sizes
$webiny-pb-text-xs: 0.75rem;
// line-height: 1rem;
$webiny-pb-text-sm: 0.875rem;
// line-height: 1.25rem;
$webiny-pb-text-base: 1rem;
// line-height: 1.5rem;
$webiny-pb-text-lg: 1.125rem;
// line-height: 1.75rem;
$webiny-pb-text-xl: 1.25rem;
// line-height: 1.75rem;
$webiny-pb-text-2xl: 1.5rem;
// line-height: 2rem;
$webiny-pb-text-3xl: 1.875rem;
// line-height: 2.25rem;
$webiny-pb-text-4xl: 2.25rem;
// line-height: 2.5rem;
$webiny-pb-text-5xl: 3rem;
// line-height: 1;
$webiny-pb-text-6xl: 3.75rem;
// line-height: 1;
$webiny-pb-text-7xl: 4.5rem;
// line-height: 1;
$webiny-pb-text-8xl: 6rem;
// line-height: 1;
$webiny-pb-text-9xl: 8rem;
// line-height: 1;