/*! Based on Typebase.scss v0.1.0 | MIT License https://github.com/devinhunt/typebase.css */
@import "../mixins/pb-list-element";
// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize: 22 !default; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5 !default; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 1rem !default;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 1.414 !default;

// font-sizes
$webiny-pb-text-xs: 0.75rem;
// line-height: 1rem;
$webiny-pb-text-sm: 0.875rem;
// line-height: 1.25rem;
$webiny-pb-text-base: 1rem;
// line-height: 1.5rem;
$webiny-pb-text-lg: 1.125rem;
// line-height: 1.75rem;
$webiny-pb-text-xl: 1.25rem;
// line-height: 1.75rem;
$webiny-pb-text-2xl: 1.5rem;
// line-height: 2rem;
$webiny-pb-text-3xl: 1.875rem;
// line-height: 2.25rem;
$webiny-pb-text-4xl: 2.25rem;
// line-height: 2.5rem;
$webiny-pb-text-5xl: 3rem;
// line-height: 1;
$webiny-pb-text-6xl: 3.75rem;
// line-height: 1;
$webiny-pb-text-7xl: 4.5rem;
// line-height: 1;
$webiny-pb-text-8xl: 6rem;
// line-height: 1;
$webiny-pb-text-9xl: 8rem;
// line-height: 1;

body,
.webiny-pb-page-document {
  /* Change default typefaces here */
  font-family: var(--webiny-theme-typography-primary-font-family, "Lato, sans-serif");
  font-size: $baseFontSize / 16 * 100%;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: var(--webiny-theme-color-primary, #ee896b);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  line-height: $leading;
}
// Default heading styles
h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
// Formatting styles for text
.webiny-pb-page-element-text {
  & b {
    font-weight: bold;
  }

  & u {
    text-decoration: underline;
  }

  & i {
    font-style: italic;
  }
}

// Blockquote default typography styles
.webiny-pb-typography-quote {
  color: var(--desktop-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  blockquote {
    quotes: "“" "”";

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}
.webiny-pb-media-query--tablet .webiny-pb-typography-quote {
  color: var(--tablet-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
.webiny-pb-media-query--mobile-landscape .webiny-pb-typography-quote {
  color: var(--mobile-landscape-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
.webiny-pb-media-query--mobile-portrait .webiny-pb-typography-quote {
  color: var(--mobile-portrait-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}

// Heading default typography styles
%webiny-pb-typography-heading-base {
  font-family: var(--webiny-theme-typography-primary-font-family, "sans-serif");
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
  font-weight: 700;
  color: var(--desktop-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));

  & .webiny-pb-media-query--tablet {
    color: var(--tablet-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  }
  & .webiny-pb-media-query--mobile-landscape {
    color: var(--mobile-landscape-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  }
  & .webiny-pb-media-query--mobile-portrait {
    color: var(--mobile-portrait-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  }
}

// Start text sizing
@mixin fontSize($fontSize, $lineHeight : 1)  {
  & h1,h2,h3,h4,h5,h6 {
    font-size: $fontSize;
    line-height: $lineHeight;
  }
}

.webiny-pb-typography-heading {
  @include fontSize($webiny-pb-text-lg, 2rem);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-heading--1 {
  @include fontSize($webiny-pb-text-7xl);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-heading--2{
  @include fontSize($webiny-pb-text-5xl);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-heading--3 {
  @include fontSize($webiny-pb-text-4xl);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-heading--4 {
  @include fontSize($webiny-pb-text-3xl, 2rem);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-heading--5 {
  @include fontSize($webiny-pb-text-2xl, 2rem);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-heading--6 {
  @include fontSize($webiny-pb-text-xl, 1.75rem);
  @extend %webiny-pb-typography-heading-base;
}

.webiny-pb-typography-body {
  color: var(--desktop-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  line-height: $leading;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}
.webiny-pb-media-query--tablet .webiny-pb-typography-body {
  color: var(--tablet-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
.webiny-pb-media-query--mobile-landscape .webiny-pb-typography-body {
  color: var(--mobile-landscape-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
.webiny-pb-media-query--mobile-portrait .webiny-pb-typography-body {
  color: var(--mobile-portrait-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
// Typography styles for paragraph
%webiny-pb-typography-paragraph-base {
  line-height: $leading;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;

  color: var(--desktop-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));

  & .webiny-pb-media-query--tablet {
    color: var(--tablet-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  }
  & .webiny-pb-media-query--mobile-landscape {
    color: var(--mobile-landscape-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  }
  & .webiny-pb-media-query--mobile-portrait {
    color: var(--mobile-portrait-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  }
}

.webiny-pb-typography-title {
  @extend %webiny-pb-typography-paragraph-base;

  font-size: $webiny-pb-text-lg;
  font-weight: 600;
}

.webiny-pb-typography-subtitle {
  @extend %webiny-pb-typography-paragraph-base;
  font-size: $webiny-pb-text-base;
  font-weight: 600;
}

.webiny-pb-typography-body-xl {
  @extend %webiny-pb-typography-paragraph-base;
  font-size: $webiny-pb-text-xl;
  font-weight: normal;
}

.webiny-pb-typography-unordered-list {
  list-style: disc;
}

.webiny-pb-typography-ordered-list {
  list-style: decimal;
}

.webiny-pb-typography-list,
.webiny-pb-typography-ordered-list,
.webiny-pb-typography-unordered-list {
  color: var(--desktop-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  li {
    line-height: $leading;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.webiny-pb-media-query--tablet .webiny-pb-typography-list,
.webiny-pb-media-query--tablet .webiny-pb-typography-ordered-list,
.webiny-pb-media-query--tablet .webiny-pb-typography-unordered-list {
  color: var(--tablet-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
.webiny-pb-media-query--mobile-landscape .webiny-pb-typography-list,
.webiny-pb-media-query--mobile-landscape .webiny-pb-typography-ordered-list,
.webiny-pb-media-query--mobile-landscape .webiny-pb-typography-unordered-list {
  color: var(--mobile-landscape-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}
.webiny-pb-media-query--mobile-portrait .webiny-pb-typography-list,
.webiny-pb-media-query--mobile-portrait .webiny-pb-typography-ordered-list,
.webiny-pb-media-query--mobile-portrait .webiny-pb-typography-unordered-list {
  color: var(--mobile-portrait-color, var(--webiny-theme-color-text-primary, rgb(10, 10, 10)));
}

.webiny-pb-typography-body,
.webiny-pb-typography-ordered-list,
.webiny-pb-typography-unordered-list {
  a {
    color: var(--webiny-theme-color-primary, #ee896b);
    &:hover {
      opacity: 0.8;
    }
  }
}

// Additional "list" element styles
.webiny-pb-typography-list--primary {
  @include pb-lis-element($leading, #fa5a28, #ffffff);
}
.webiny-pb-typography-list--secondary {
  @include pb-lis-element($leading, #90c418, #ffffff);
}

.webiny-pb-typography-code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 90%;
  background-color: var(--webiny-theme-color-on-background, #131313);
  color: var(--webiny-theme-color-background, #fafbfb);
  border-radius: 3px;
}

.webiny-pb-typography-description {
  font-family: var(--webiny-theme-typography-primary-font-family, "IBM Plex Sans, sans-serif");
  color: var(--desktop-color, var(--webiny-theme-color-text-secondary, #616161));
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
}

.webiny-pb-typography--white {
  color: #fff;
}

.webiny-pb-typography--primary {
  color: var(--webiny-theme-color-primary, #ee896b);
}
