.panel {
	margin-bottom: 40px;
	box-shadow: none;
	border-radius: 0;
}

.header {
	margin: 0;
	padding: 40px 0;

	font-weight: 600;
	font-size: 35px;
}

.body {
	position: relative;
	padding: 15px 0;
}

/* first div in the body can't be floated, otherwise panel won't expand correctly */
/* changing the overflow on panel body fixes that, but also introduces other problems, that's why this fix below */
.body > div {
	float: none !important;
}

.footer {
	/*border: 1px solid #e7e5e5; this looks weird when the form is outside the Tabs component, replaced with border-top*/
	border-top: 1px solid #e7e5e5;
	overflow: hidden;
	margin-top: -1px; /*fixes when a top element has a border-bottom set*/
}

.boxed {
	padding: 0;
}

.boxed .header {
	padding: 40px;
	background-color: #fbfbfb;
}

.boxed .body {
	padding: 40px;
}

.body.noPadding {
	padding: 0px;
}

/* panel mobile styles */
@media (max-width: 768px) {
	.footer {
		border: none;
	}
}