.tabs {
	border: 1px solid #e7e5e5;
}

.header {
	text-align: left;
	padding: 5px 15px;
}

.headerLabel {
	/* needs to be defined so we don't get undefined error */
}

.title {
	display: inline-block;
}

.body {
	display: flex;
	align-items: stretch;
}

.body .navigation {
	padding: 0;
	border: none;
	background-color: #F3F3F3;
	margin: 0;
}

.navigation.stacked {
	margin-right: -1px;
}

.navigationTop,
.navigationLeft {
	/* just a placeholder so we don't have undefined in DOM */
}

.navigation > li {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation > li.stretch {
	flex-grow: 1;
	flex-basis: 0;
}

.navigation > li.disabled{
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.navigation > li > a {
	position: relative;
	transition: all 225ms;
	display: block;
	margin-right: 0;
	padding: 20px 15px 20px 15px;
	border: none;
	border-radius: 0;
	white-space: nowrap;
	color: #4C4C4C;
	text-transform: uppercase;
}

.navigation > li > a:hover {
	border: none;
	text-decoration: none;
	background-color: white;
}

.navigation > li > a :global span.icon {
	color: #c3c3c3;
	margin-right: 5px;
}

.navigation > li.active {
	background-color: #fff;
}

.navigation > li.active > a {
	border: none;
}

.navigation > li.active > a :global(.icon),
.navigation > li.active > a > .txt {
	color: #f85721;
}

.navigation > li.active > a:hover,
.navigation > li.active > a:focus {
	border: none;
}

.navigationLarge {
	background-color: #fbfbfb;
}

.navigationLarge > li > a {
	padding: 25px 35px;
	font-weight: 600;
}

.navigationLarge .actions {
	margin-left: auto;
	padding: 25px 35px;
}

.navigationWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 25%;
	background-color: #f0f0f0;
}

.panes {
	flex-basis: 100%;
	background-color: #fff;
}

.panes .pane {
	display: block;
	height: 0px;
	padding: 0px;
	opacity: 0;
	overflow: hidden;
}

.panes .pane.paneActive {
	overflow: inherit;
	height: 100%;
	opacity: 1;
	padding: 20px;
	transition: opacity 500ms;
}

.panes .panel {
	margin-bottom: 0;
}

.tabs__panes--with-border {
	border-left: 1px solid #e3e3e3;
}

.tabs__footer {
	background-color: #ececec;
}

@media (min-width: 600px) {
	.header {
		border-bottom: 1px solid #e7e5e5;
	}

	.navigationTop > .body {
		flex-direction: column;
	}

	.navigationTop > .body > .navigation,
	.navigationTop > .body > .navigationWrapper > .navigation {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;
	}

	.navigationTop > .body > .navigation > li,
	.navigationTop > .body > .navigationWrapper > .navigation > li {
		border-right: 1px solid #e7e5e5;
	}

	.navigationTop > .body > .navigation > .active > a,
	.navigationTop > .body > .navigationWrapper > .navigation > .active > a {
		border-bottom: 0px solid;
	}

	.navigationTop .tabs__panes {
		flex-basis: 1;
	}

	/*
	.navigationLeft > .body > .navigation,
	.navigationLeft > .body > .navigationWrapper > .navigation {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 25%;
		flex-direction: column;
		flex-grow: 1;
	}
	*/
	.navigationLeft > .body > .navigation > li,
	.navigationLeft > .body > .navigationWrapper > .navigation > li {
		text-align: left;
		border-bottom: 1px solid #e7e5e5;
	}

	.navigationLeft > .body > .navigation > .active > a,
	.navigationLeft > .body > .navigationWrapper > .navigation > .active > a {
		border-right: 0px solid;
	}
}

.clearfix {
	zoom: 1;
	float: none;
	display: block;
	clear: both;
}

/* tab inside a tab should not have margin */
.panes .paneActive > .tabs {
	margin: -21px;
}

/* make tabs responsive */
@media (max-width: 768px) {
	.headerLabel {
		display: none;
	}

	.navigationTop > .body > .navigation > li{
		display: table-cell;
	}

	.navigationLeft > .body > .navigation > li{
		display: block;
	}

	.navigation > li > a {
		padding: 20px;
	}
	.navigationTop > .body {
		flex-direction: column;
	}
}
