.switch {
	color: #f85926;
}

.switch label {
	position: relative;
	display: inline-block;
	border: 1px solid #d6d6d6;
	border-radius: 60px;
	color: #6b6b6b;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	background: #ddd;
	width: 50px;
	height: 22px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.switch label:after {
	content: "";
	display: block;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	padding: 5px;
	text-align: center;
	border-radius: 60px;
	transition: 0.3s ease-in-out;
	transform: none;
}

.switch label:before {
	display: none;
}

.switch input {
	display: none;
}

.switch input + label {
	margin: 7px 0 0 0;
}

.switch input:checked + label {
	background: #FA541D;
}

.switch input:checked + label:after {
	left: 28px;
}

.switch.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.switch.disabled label{
	cursor: not-allowed;
}


/*==================================================================
  Switches
===================================================================*/

/* Switch Option - Inline */
.switchInline {
	display: inline-block;
}

.switchInline + .switchInline {
	margin-left: 15px;
}

/* make switch look bit better on mobile */
@media (max-width: 768px) {
	.switch{
		display: table;
		margin: 0 auto;
	}
}