# Destroys any cloud infrastructure that was deployed for the purpose of E2E testing.
name: Cloud infrastructure Cleanup

on:
  repository_dispatch:
    types: [cleanup-infrastructure]
  schedule:
    - cron: "0 2 * * *" # Every day at 2AM.

jobs:
  aws-nuke:
    runs-on: webiny-js-4-cores
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    container:
      image: rebuy/aws-nuke
      options: --user root -v ${{ github.workspace }}:/workspace
    steps:
      - uses: actions/checkout@v2

      - name: Run AWS Nuke
        run: >
          aws-nuke
          --config ./.github/workflows/cleanup/aws-nuke.yml
          --no-dry-run
          --force
          --force-sleep 3
          --max-wait-retries 100
          --access-key-id ${{ env.AWS_ACCESS_KEY_ID }}
          --secret-access-key ${{ env.AWS_SECRET_ACCESS_KEY }}

  aws-eventbridge-cleanup:
    runs-on: webiny-js-4-cores
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn --immutable

      - name: Run EventBridge Cleanup
        run: node ./.github/workflows/cleanup/cleanupEventBridge.js

  aws-cloudfront-functions-cleanup:
    runs-on: webiny-js-4-cores
    needs: [aws-nuke]
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn --immutable

      - name: Run Cloudfront Functions Cleanup
        run: node ./.github/workflows/cleanup/cleanupCloudfrontFunctions.js
