# Destroys any cloud infrastructure that was deployed for the purpose of E2E testing.
name: Cloud infrastructure Cleanup

#on:
#  schedule:
#    - cron: "0 2 * * *" # Every day at 2AM.

on:
  push:
    branches: [next]

jobs:
  aws-nuke:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    container:
      image: rebuy/aws-nuke
    steps:
      - name: Download AWS Nuke Config
        run: sudo curl https://raw.githubusercontent.com/webiny/webiny-js/next/.github/workflows/cleanup/aws-nuke.yml > aws-nuke.config.yml

      - name: Run AWS Nuke
        run: >
          aws-nuke -c aws-nuke-config.yml
          --no-dry-run
          --force
          --force-sleep 3
          --access-key-id ${{ env.AWS_ACCESS_KEY_ID }}
          --secret-access-key ${{ env.AWS_SECRET_ACCESS_KEY }}
