$webiny-client-admin: "~webiny-client-admin/lib";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~webiny-client-ui/lib/assets/styles.scss";
@import "~webiny-client-admin/lib/assets/styles.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
